[2020-05-28 19:12] afshinm opened #1 "Generating API doc"

[2020-05-28 19:55] joekrump opened #2 "Installing via "npm i" doesn't appear to work at the moment."
Running `npm i gridjs` seems to install a different package than this one so unfortunately I'm unable to play around with this at the moment.

This is what appears to get installed instead: https://github.com/mafintosh/gridjs It seems like there may be some sort of naming collision on `npm`.

[2020-05-28 20:09] afshinm commented on #2
That definitely seems like an npm issue @joekrump. Can you reproduce it using Codesandbox?

[2020-05-28 20:13] afshinm commented on #2
@joekrump take a look at this https://codesandbox.io/s/cold-frost-ft5vp -- looks like it managed to resolve the dependencies correctly.

[2020-05-28 21:36] joekrump commented on #2
Nice! Yes, looks like it resolves correctly on codesandbox. On stackblitz it does not 😢 https://stackblitz.com/

[2020-05-28 22:18] afshinm commented on #2
Ah I see. Let me create a sanbox on Stackblitz, too.

Out of curiosity, how did you find out about this project @joekrump? :)

[2020-05-28 22:24] afshinm commented on #2
btw, I managed to create an app on Stackblitz: https://stackblitz.com/edit/js-oksqvh

[2020-05-28 22:25] #2 closed

[2020-05-28 22:27] joekrump commented on #2
@afshinm I came across the project as I was in between things and had just heard about https://js.coach/ so I checked it out and saw this project at the top of the list and it tweaked my interest as I'm alway interested in framework agnostic libraries for building UI.

<img width="1395" alt="screenshot" src="https://user-images.githubusercontent.com/3317231/83200214-b313b180-a0f7-11ea-9c1a-3a45571

[2020-05-28 22:28] afshinm commented on #2
Cool! thanks @joekrump.

[2020-05-28 22:52] afshinm commented on #1
@all-contributors bot

[2020-05-28 22:53] afshinm commented on #1
@all-contributors add @afshinm for code and doc

[2020-05-29 19:47] afshinm opened #4 "Add Web Worker support to the pipeline class"
Pipeline steps (processors) are pure functions and they can be executed using Web Worker API. This enables us to filter, sort or page the data in another thread and just use the main thread to render the elements.

[2020-06-04 19:57] afshinm opened #23 "Container should be scrollable when there are too many columns"

[2020-06-04 20:00] afshinm opened #24 "Table doesn't expand to 100%"
https://observablehq.com/@simonw/grid-js-with-datasette

[2020-06-04 20:04] afshinm opened #25 "Improve accessibility"

[2020-06-04 21:24] afshinm opened #26 "React wrapper"

[2020-06-04 21:32] afshinm opened #27 "jQuery wrapper"
`$(element).gridjs({...});`

[2020-06-04 21:37] afshinm opened #28 "Vue wrapper"

[2020-06-04 22:59] afshinm commented on #24
Fixed

[2020-06-04 22:59] #24 closed

[2020-06-05 03:46] UNIcodeX opened #29 "Allow strings to be marked safe somehow."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
HTML code passed as a result value from JSON query, yields escaped HTML code.

JSON:
[code]

JS:
[code]
Rendered, mapped HTML from JSON request:
[code]

**Describe the solution you'd like**
A clear and concise description of what you want t

[2020-06-05 04:28] rmkane commented on #27
I am not sure how you could incorporate it into your current build, but I assume you would just create a static jQuery wrapper that loads after `gridjs.production.min.js`.

## main.js

[code]

## jquery.gridjs.js

[code]

## data.json

[code]

## index.html

[code]

## style.css

[code]

[2020-06-05 07:14] afshinm commented on #29
Makes sense. I will push a fix soon.

[2020-06-05 07:22] afshinm commented on #27
@rmkane that's it I guess, yeah! I just created this repo https://github.com/grid-js/gridjs-jquery if you like to contribute and add that to the repo.

Also, it's nice to pass the element in `$(element)` to the `from` property if it's a HTML table. see https://gridjs.io/docs/config#from

[2020-06-05 08:49] acivitillo opened #33 "pivot tables"
**Is your feature request related to a problem? Please describe.**
Tools for online pivot tables are pretty bad. Tableau/PowerBI don't have good ways to do good pivots online.

**Describe the solution you'd like**
Similar to an Excel pivot tables, including subtotals. It should be easy to use and deploy in any micro framework (i.e. flask). It should also offer good options for conditional formatti

[2020-06-05 09:57] afshinm opened #34 "Adding MelvinIdema as a contributor"

[2020-06-05 09:58] afshinm commented on #34
@all-contributors add @MelvinIdema for doc

[2020-06-05 10:00] #34 closed

[2020-06-05 11:50] danieldegtyarev opened #36 "Support for server-side search"
I think the support for server-side search is essential.
I would suggest to add an attribute `search` for `server` options.

[code]

[2020-06-05 12:05] afshinm commented on #36
Hey @danieldegtyarev,

Makes sense. I will release a patch in the following days to connect all core plugins to the server-side storage.

[2020-06-05 14:44] rmkane commented on #27
I’ll check it out.

That makes sense. I didn’t dig into the config that much;
just brushed the surface.

[2020-06-05 15:27] setop opened #37 "load CSV or TSV data"
# feature

I'd like a way to load a [CSV](https://en.wikipedia.org/wiki/Comma-separated_values) or [TSV](https://en.wikipedia.org/wiki/Tab-separated_values) file as the data of the table. This is a common format for data exchange.

# approach

The way it would be use could be a bit like `server` property but instead of expecting json data, expect comma/tab separated values.

# alternatives

[D3js]

[2020-06-05 15:28] afshinm commented on #37
Agreed! added it to the roadmap.

[2020-06-05 18:43] amravazzi opened #39 "Add support for advanced layout options such as multi-line, fixed headers, fixed first column, adjustable column/row height and width."
**Is your feature request related to a problem? Please describe.**
A feature to add support for advanced layout options such as multi-line, fixed headers, fixed first column, adjustable column/row height and width. To consider this library for larger projects, mainly involving _dashboarding_, these features are very important.

**Describe alternatives you've considered**
The [Element UI table ](ht

[2020-06-05 18:50] fredEbho commented on #37
Yea, we need it

[2020-06-05 19:21] sobrinho opened #40 "AJAX pagination"
**Is your feature request related to a problem? Please describe.**
The dataset is too big to be fetched at once.

**Describe the solution you'd like**
It would be nice to have a defined API for remote pagination (probably for remote searching as well since the search would have to be done by the server).

**Describe alternatives you've considered**
Implement the pagination by myself but it would l

[2020-06-05 19:24] NickM101 opened #41 "React Native Support"
if supported show example

[2020-06-05 19:24] afshinm commented on #23
Fixed in #38

[2020-06-05 19:24] #23 closed

[2020-06-05 19:29] duceum opened #42 "Add images or any html inside cells"
Adding images or any html inside cells would be very useful.

[2020-06-05 19:35] emveeoh opened #43 "Hide / Show Columns"
Would love the ability to hide/show columns dynamically.

[2020-06-05 21:42] Zegoverno opened #44 "parser for Graphql or Json data"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-05 21:43] Zegoverno opened #45 "Freeze Upper/First Row or Column"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-06-05 23:44] rmkane commented on #27
I started to use Webpack, but I do not like how it adds a bunch of extra stuff to the distribution/bundle files. Maybe I misconfigured it. Im probably gonna switch to Rollup.

Anyways, I have a feature branch for the jQuery stuff. Maybe it can give people ideas?

[2020-06-06 06:22] ok2ju opened #46 "Question: How the gridjs is extensible?"
It feels to me like Gridjs has a lack of documentation about extensibility. Could you describe how Gridjs is extensible, please?

[2020-06-06 20:44] iafisher opened #48 "Custom sort function"
Cool project! It would be really useful if you could specify a custom sort function, similar to the `compareFunction` parameter of [`Array.sort`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Array/sort).

[code]

Otherwise things like numbers and dates won't sort properly.

[2020-06-06 23:11] afshinm commented on #42
see #49

[2020-06-06 23:11] #42 closed

[2020-06-06 23:12] afshinm commented on #29
#49 should fix this one, too. I have added a new function, `html`, which enables us to embed HTML elements in cells. will update the docs as well.

[2020-06-06 23:12] #29 closed

[2020-06-06 23:14] afshinm commented on #27
@rmkane +1 for using Rollup instead.

That looks amazing! I'd suggest fixing the build took and merging that PR.

[2020-06-06 23:28] balexandre commented on #48
but if you send a numeric value, it will order numbers correctly, like

[code]

[2020-06-06 23:46] iafisher commented on #48
Fair enough, but it still doesn't work for most date formats, or for columns of numbers loaded from an existing HTML table.

[2020-06-07 04:11] airtonix opened #50 "Ajax Sort"
**Is your feature request related to a problem? Please describe.**
Sorting needs to sort the entire dataset, not just what's in view.

**Describe the solution you'd like**
Ideally you should make the api available to the custom functions:

[code]
..
**Additional context**
This will be needed if you want grid.js to have any serious traction in admin dashboards (create update delete)

[2020-06-07 09:39] afshinm commented on #48
makes sense! I will release a version today which will add custom comparing function to columns.

[2020-06-07 11:07] afshinm commented on #50
Makes sense. I'm currently working on connecting other components to the Server storage and will release a version soon. thanks!

[2020-06-07 14:00] jehunter5811 opened #52 "Search does not work on HTML-rendered cells"
**Describe the bug**
With the new release that supports rendering html content, search does not work on cells that are wrapped in html. For example search works with this:

[code]

But not with this:

[code]

**To Reproduce**
Steps to reproduce the behavior:
Create a cell using the html-render functionality
Try searching based on data in that cell.

**Expected behavior**
Search should work as it d

[2020-06-07 14:05] afshinm commented on #52
ah, makes sense. I will take a look @jehunter5811

[2020-06-07 18:45] amatzen commented on #40
I would love to see this being implemented aswell!

[2020-06-07 18:50] afshinm commented on #40
Makes sense! I'm currently working on this feature and will release a version soon. thanks folks!

[2020-06-07 20:32] #52 closed

[2020-06-07 20:33] afshinm commented on #52
fixed in 1.2.1

[2020-06-08 11:28] jehunter5811 commented on #52
Works great, thanks!

[2020-06-08 12:07] afshinm commented on #48
@iafisher @balexandre fixed in 1.3.0, see https://gridjs.io/docs/examples/custom-sort

[2020-06-08 12:07] #48 closed

[2020-06-08 13:57] iafisher commented on #48
Great, thank you!

[2020-06-08 16:01] UNIcodeX commented on #29
Nice! Thank you.

I see updated documentation on how one would do this when used in a module, but nothing on how would one do this in line between `<script>`. This may seem self evident, but newcomers may not make the connection that simply calling `html()` as in the example will not work in this case, and that it must be fully qualified as `gridjs.html()`.

Thanks again.

[2020-06-08 16:08] jlmodell opened #57 "add 'onclick' to row or specific row/column with row context added to event"
**Is your feature request related to a problem? Please describe.**
Looking for a way to add an onclick listener to a row or cell that has the context for the row.  Specifically looking for a way to use the cell or row to pop up a modal to to make a http get request for more details or http put request to update the backend and then update the table.

**Describe the solution you'd like**
Ability to

[2020-06-08 16:09] afshinm commented on #29
Makes sense. I have created this Codesandbox: https://codesandbox.io/s/gridjs-hello-world-html-ecepd?file=/src/index.js:0-301

[code]

but I will add that to the docs as well.

[2020-06-08 16:11] afshinm commented on #57
Makes sense. I will add some examples to the docs.

[2020-06-08 18:51] UNIcodeX commented on #29
Nice! I must say congratulations on a really awesome library. In my opinion it is much more ergonomic than dataTables. Also, Thank you for how responsive you've been.

[2020-06-08 19:07] afshinm commented on #29
thank you @UNIcodeX!

[2020-06-09 12:25] florentsolt opened #59 "Support html content when using "from""
**Is your feature request related to a problem? Please describe.**
Thanks to the new `html()` helper used in the `formater` we can easily display html in cells. But it is stil not the case when using `from`

**Describe the solution you'd like**
The idea is to automatically setup a html formater when `from` is used.

**Describe alternatives you've considered**
I've tried to used `from` with a custo

[2020-06-09 14:44] lucashutyler commented on #40
If possible, it would be nice to be able to load a couple extra pages on either side of the current page (precaching?).  That way the user won't have to wait for the table to load precached items if they are slowly just going to next and previous pages.  They would still have to wait if they filtered or jumped to the end of the list, of course.  I'd imagine a parameter called precachedPages that w

[2020-06-10 23:53] lucashutyler opened #63 "Server Side Precaching"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
If possible, it would be nice to be able to load a couple extra pages on either side of the current page (precaching?). That way the user won't have to wait for the table to load precached items if they are slowly just going to next and previous pages. They would still have to wait if they f

[2020-06-11 20:59] #59 closed

[2020-06-11 21:00] afshinm commented on #59
@florentsolt fixed in 1.4.2!

[2020-06-12 14:33] florentsolt commented on #59
@afshinm thanks a lot!

[2020-06-12 17:56] afshinm commented on #26
I just released the first version of our React component

Repo: https://github.com/grid-js/gridjs-react
Example: https://codesandbox.io/s/gridjs-react-ddy69

[2020-06-12 17:58] afshinm commented on #26
Let me know what you think folks.

[2020-06-12 17:58] #26 closed

[2020-06-14 16:41] jhonoryza opened #69 "How to populating cell in plain HTML?"
how to import html module inside script tag in plain html
<script>
    import { Grid, html } from "gridjs";
</script>
i am doing this, error: cannot use import statement outside module

[2020-06-14 16:47] afshinm commented on #69
Try:

[code]

[2020-06-14 16:47] #69 closed

[2020-06-14 18:26] mgrivera opened #70 "Use array of objects as datasource"
There is no problem with the actual implementation. Just that I think it is most common to find array of objects as data sources.

Maybe the solution would be that the grid accepted both ways: array of arrays or array of objects.

Of course it is  easy to convert from your array of objects to array of arrays; but it would be easy if the grid accepted both ways as posible data sources.

Many thanks

[2020-06-14 21:22] afshinm commented on #70
Makes sense. I see how that can be useful.

[2020-06-14 21:23] afshinm commented on #63
Thanks @lucashutyler. Makes sense.

[2020-06-15 19:01] afshinm commented on #43
sure! added to the roadmap.

[2020-06-15 23:16] happytm opened #74 "Feature Request : simple lightweight charts"
**Is your feature request related to a problem? Please describe.**
No it is not related to problem.

**Describe the solution you'd like**
I would like to use this framework on ESP32 microcontroller which will have built in server serving home automation sensor data from json file. It would be nice feature(optional) to create lightweight multi line charts from these data in few selected cells of th

[2020-06-16 06:03] agoldis opened #75 "Allow custom styling"
Thanks for that great project! 👍🏻

**Is your feature request related to a problem? Please describe.**
I would like to be able to apply custom styles to elements = table, rows, headers etc

**Describe the solution you'd like**
For now just specifying extra classes to be appended to the default would be enough

**Describe alternatives you've considered**
I can override the default style, but that's

[2020-06-16 07:10] South-Paw opened #76 "package.json: Incompatible Node version"
**Describe the bug**
`gridjs` cannot be installed using Node v13.x

**To Reproduce**
Steps to reproduce the behavior:
1. Use Node v13
2. Try to install gridjs

**Expected behavior**
You should be able to install it with any version of Node.js

**Screenshots**
![image](https://user-images.githubusercontent.com/2154764/84742553-b4ecd880-b004-11ea-82d6-2754d813bb8c.png)

**Additional context**
Window

[2020-06-16 08:47] #76 closed

[2020-06-16 08:49] afshinm commented on #76
@South-Paw fixed in 1.5.1. https://www.npmjs.com/package/gridjs/v/1.5.1

Thanks for reporting it.

[2020-06-16 12:25] Naravyb opened #78 "How to make a No. like datatables?"
how to make columns and their contents without having to retrieve data from serverside like a datatables? if it's in Jquery's datatables,
I just need to write code

`{
data: 'No',
render: function(data, type, row, meta) {
   return meta.row + 1;
   }
}
`

what if on gridJS?

[2020-06-16 16:12] Naravyb opened #79 "log.ts:17 [Grid.js] [ERROR]: ReferenceError: html is not defined"
Hello, I use GridJs with a browser, you know <script> ..

I'm currently having problems when I want to use serverside with pagination, I get an undefined html error ... is this really a bug? because the html function is defined in the gridjs.development.js file (https://unpkg.com/gridjs@1.5.1/dist/gridjs.development.js)

The following is the screenshot:
![Untitled](https://user-images.githubuserco

[2020-06-16 18:21] afshinm commented on #25
Fixed some basic accessibility issues in #73 but I believe this is an ongoing task.

[2020-06-16 18:21] #25 closed

[2020-06-16 18:22] afshinm commented on #79
@Naravyb how did you import `html`? Can you please create a jsFiddle/Codesandbox for me to debug?

[2020-06-16 18:23] afshinm commented on #78
Not sure if I understand the question but I guess this example can help https://gridjs.io/docs/examples/cell-formatting

[2020-06-16 18:23] #78 closed

[2020-06-16 18:24] afshinm commented on #75
Makes sense. I'm working on a ticket to enable custom styling and css-in-js.

[2020-06-16 18:25] afshinm commented on #74
Hey @happytm

This should already be achievable with https://gridjs.io/docs/examples/cell-formatting. We don't really want to provide chart functionality ourselves and as you mentioned, there are some great chart libs that we can use.

I will add an example which will use cell formatting to render charts.

[2020-06-16 18:28] afshinm commented on #46
Grid.js has an internal pipeline which is used to process, refine and then feed the final result set into the Virtual DOM. This pipeline should be very extensible (you can create your own pipeline processor and attach it to a Grid.js instance with using the config object (e.g. `config.pipeline.register(...)`). See https://github.com/grid-js/gridjs/tree/master/src/pipeline

The presentation part (a

[2020-06-16 18:28] #46 closed

[2020-06-16 18:48] happytm commented on #74
It will be nice to have an example.
Thanks.

[2020-06-16 19:25] ignatandrei opened #80 "TypeError: Cannot read property 'base' of undefined"
**Describe the bug**
Grid.js gives an error:
gridjs.production.min.js

 Uncaught (in promise) TypeError: Cannot read property 'base' of undefined
    at e.adjustWidth (gridjs.production.min.js?v=version:15)
    at e.<anonymous> (gridjs.production.min.js?v=version:15)
    at gridjs.production.min.js?v=version:15
    at Object.next (gridjs.production.min.js?v=version:15)
    at s (gridjs.production.

[2020-06-16 19:37] afshinm commented on #80
Hey @ignatandrei

I have seen that error and it happens when your data is empty. Can you take a look and make sure you are passing the correct rows before calling the `render()` function.

[2020-06-16 19:53] ignatandrei commented on #80
Should be an error if I pass empty data ?
After all, it can happen.
Could you instead verify that the data is empty and return, instead of throwing the error ? ;-)

[2020-06-16 22:20] South-Paw commented on #76
Awesome! Thanks for the quick change 🎉

[2020-06-17 14:30] Naravyb commented on #79
https://jsfiddle.net/nara014/ex1swno6/2/

like this problem that I found in gridJS, is this really a bug?

[2020-06-17 14:33] Naravyb commented on #79
I've found the solution by separating several components from the original grid.development.js file and this works perfectly. Powerful and nice.

https://gist.github.com/Naravyb/27c256f52d8321ec0b6d2d8cf71db179

[2020-06-17 14:51] afshinm commented on #79
@Naravyb it's definitely not a bug. `html` function was not imported correctly:

[code]

https://jsfiddle.net/2041953p/

[2020-06-17 14:51] #79 closed

[2020-06-17 14:52] yababay opened #83 "TypeError on forceRender()"
Hi folks, thank you for your great work! I use gridjs instead of bootstrap table and yours is sure better, lighter and more flexible.

But there is a bug. I get "TypeError: this.config is undefined" at grid.ts:81:9 when I use  forceRender() method.

I have a function, that dynamically updates my grid with server side data:

[code]
Something strange happens here: when I call fetch with POST method

[2020-06-17 15:16] Naravyb opened #84 "Pagination Server Side & Search"
Hello,
how to use search and pagination server side in the same condition?

[2020-06-17 20:45] afshinm commented on #80
yeah sure, I will patch the autoWidth method in 1.6.2.

[2020-06-17 21:13] afshinm commented on #80
Fixed! thanks for reporting this issue @ignatandrei

[2020-06-17 21:13] #80 closed

[2020-06-17 21:22] afshinm commented on #83
hey @yababay

Have you tried using the `server` attributes instead of calling `fetch` yourself? see https://gridjs.io/docs/server-side

[2020-06-17 21:23] afshinm commented on #83
oh and it's likely that you're calling forceRender() before render(): https://github.com/grid-js/gridjs/blob/master/src/grid.ts#L82

I will fix that line though.

[2020-06-17 21:28] #83 closed

[2020-06-17 21:29] afshinm commented on #83
Fixed! Install 1.6.2

also you don't have to call forceRender() unless you're changing an existing config object or an existing Grid.js instance. Happy to investigate more if you create a jsFiddle/Codesandbox.

[2020-06-17 21:40] afshinm commented on #84
Hey @Naravyb

Grid.js calls your `server` configurations one by one and the `prev` in your `url` function is the URL of the previous step. In other words, you have a base URL here:

[code]

which is `https://swapi.dev/api/films/`, then you have the search module:

[code]

and `prev` is your base URL in this case since you don't have any other server components. Then, let's say you have a paginatio

[2020-06-18 06:52] yababay commented on #83
Thank you, for detailed replies, Afshin.

I have upgraded to 1.6.2 now, but the bug appeared again. It seems that  the problem is really on my side. I will continue to analyze and try to overcome it, and will inform you about results here.

[2020-06-18 07:39] yababay commented on #83
![Без имени](https://user-images.githubusercontent.com/60526241/84988275-66495680-b14a-11ea-9b11-2c107a2baeaa.png)
Here is a screenshot. Yes, the new exception appeared, but, as you can see, the grid exists and is attached to a DOM element (the `render()` was called once). Moreover, when I added last row in the table some seconds before I did the screenshot, the `forceRender()` have called correct

[2020-06-18 09:15] yababay commented on #83
Hi all, I have found and fixed error in my code. I have one instance of greed common for 3 react components, let's call them Table, AddEditor and UpdateEditor.
[code]
Only Table calls the `render()` method, but editors are called **always after** Table is initiated. It seems that editors should get initiated (by Table) instance of the greed, but I had the error described above in this code.

Final

[2020-06-18 09:18] afshinm commented on #83
@yababay amazing! I'm glad you figured it out.

[2020-06-18 14:08] Naravyb commented on #84
Hmm that's okay, I already implemented it. But I get it again when adding & pagination urls.
Look this

![Untitled](https://user-images.githubusercontent.com/30528814/85030459-01532800-b16d-11ea-8811-9cefb08012e2.png)

I also tried this on the gridjs.io website for testing. but why does he keep having errors?
![2](https://user-images.githubusercontent.com/30528814/85030584-247dd780-b16d-11ea-8e89-

[2020-06-18 14:23] Naravyb commented on #84
while I use code like this, but is there anything more efficient?
[code]
and this produces the results as expected but what should be like this?
![2](https://user-images.githubusercontent.com/30528814/85032314-3496b680-b16f-11ea-8c5a-7d615065572d.png)

thank you 👍

[2020-06-18 19:47] afshinm commented on #84
Try:

[code]

[2020-06-21 09:48] Karewan commented on #75
Can be also possible to have dual pagination (top and bottom of the grid) in option ?
Thanks

[2020-06-22 22:56] enahs opened #97 "when using react, styling by default isn't working."
**Describe the bug**
I rolled my own react app from scratch. I'm using parcel for bundling et al.
after installing grid JS, the result looks un-styled.

I'd expect that it would be styled. poked around in the `dist` folder and importing this seemed to correct it.

[code]

probably just need to update the docs for react or add an easier way to grab this asset (maybe some lib folder?)

**To Reproduc

[2020-06-22 23:16] afshinm commented on #97
@enahs thanks Shane. Yes, we should update the docs to reflect that.

[2020-06-22 23:18] afshinm commented on #97
Looks like that is actually mentioned in this page https://gridjs.io/docs/install -- were you able to find that page easily?

[2020-06-22 23:45] enahs commented on #97
Ah, i am clearly guilty of not reading the manual thoroughly. Sorry about
that. I installed with yarn, so i skipped the npm stuff.
elsewhere in the [docs](https://gridjs.io/docs/integrations/react#usage) it
is not a priori obvious.

On Mon, Jun 22, 2020 at 4:18 PM Afshin Mehrabani <notifications@github.com>
wrote:

[2020-06-23 19:11] #97 closed

[2020-06-23 19:12] afshinm commented on #97
sure, thanks @enahs!

[2020-06-23 19:14] afshinm commented on #34
@all-contributors add @MelvinIdema

[2020-06-23 19:15] afshinm commented on #34
@all-contributors remove @MelvinIdema

[2020-06-23 20:30] happytm commented on #74
@afshinm  I know you are busy with lot of new features you are adding to this very popular repo but please provide an example of lightweight chart.

Thanks.

[2020-06-23 21:47] afshinm commented on #75
@agoldis custom styling, className and CSS-in-JS is added in 1.7.0.

See https://gridjs.io/docs/examples/css-in-js/ and https://gridjs.io/docs/examples/css-style

thanks!

[2020-06-23 21:47] #75 closed

[2020-06-24 08:18] rommyarb opened #102 "Question: How to use it in NuxtJS?"

[2020-06-24 10:24] afshinm commented on #28
We have an official Vue wrapper now https://github.com/grid-js/gridjs-vue

[2020-06-24 10:24] #28 closed

[2020-06-24 22:58] afshinm commented on #74
hey @happytm, I added a simple example which renders chart element (SVG) in cells: https://gridjs.io/docs/examples/stock-market

[2020-06-24 22:58] #74 closed

[2020-06-25 01:45] happytm commented on #74
@afshinm  Thank you so much.

[2020-06-25 19:39] afshinm commented on #70
Currently working on this. will be added to 1.8.0.

[2020-06-26 00:48] kringo opened #107 "Server side paging without knowing total records"
This is more of a question. Do you support server side paging without knowing total records upfront? We'll know if there is a next page from current page though.

For eg. when you have large number of records, its expensive to compute total records however you'll only if there is a next page on the server side for eg. Slice in spring framework

[2020-06-26 07:51] cannap opened #108 "Checkboxes"
Out of the box to have checkboxes

so i click one checkbox get an event back like `checked` when i click check all maybe `allChecked` and `uncheck`

[2020-06-26 20:54] afshinm commented on #108
thanks @cannap!

[2020-06-27 13:17] afshinm commented on #70
@mgrivera Added in 1.8.0: https://gridjs.io/docs/examples/import-json

Thank you!

[2020-06-27 13:17] #70 closed

[2020-06-27 22:20] McKlatch commented on #57
Have come to second this.

Working on a table which displays information 'at a glance'. Each object has way to much information to show in the table (including images, tags, dates etc.); so we're looking to make it such that the user can click (vuejs @click/v-bind) on the row to go to a new dynamic page with all of the extra data.

I have not installed gridjs (yet).

It looks like the `<grid :cols

[2020-06-28 11:25] afshinm commented on #57
@McKlatch gotcha, makes sense.

I released 1.8.0 yesterday which adds the ability to load an array of objects (in addition to array of arrays). That means that we should be able to add an `onclick` callback to each row:

[code]

Give me a few days. I will release a new version which will add all Event Handlers to a row.

[2020-06-28 12:53] afshinm commented on #107
Makes sense @kringo. I will work on adding this feature.

Thanks!

[2020-06-28 17:53] kringo commented on #107
Thanks @afshinm

[2020-06-28 22:02] sasha42 opened #112 "[Feature request] Extend cell formatter to header"
I am putting together a table which contains buttons in the header. Right now, there appears to be no clear way to add a button in the header `th` component. It is possible to add such a button into individual cells using the [formatter](https://gridjs.io/docs/examples/html-cells) function however.

It would be great if it would be possible to add custom html / cell formatting to the header of a t

[2020-06-28 22:09] afshinm commented on #112
Thanks @sasha42. I will release a version soon with `formatter` for columns.

[2020-06-29 07:02] SwederSchellens opened #113 "[Feature request] Button to add a record within the grid, similar to search input field"
Currently, my button to add a record is 'floating' above or below the grid. I think it would be nice to have one as shown in this image:

![Grid_request_for_add_record](https://user-images.githubusercontent.com/13760419/85982994-53bc0080-ba19-11ea-8d93-bde78bc66d03.gif)

I would need to create my own dialog/page for the actual form and submit it to my server.

[2020-06-29 13:06] jhonoryza opened #115 "add dark or color theme for mermaid"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
add a mutiple theme to switch base on table class

[2020-06-29 16:42] lorenzo-dd opened #116 "html function with unpkg"
**Describe the bug**
I'm trying to use html() function to set html inside a cell, but the console says it is not defined,

**To Reproduce**
Steps to reproduce the behavior:
add unpkg link and add a script:

`
<script src="https://unpkg.com/gridjs/dist/gridjs.development.js"></script>
<script>
new gridjs.Grid({
    sort: true,
    search: true,
    columns: [{
      name: 'Name',
      formatter: (

[2020-06-29 16:54] #116 closed

[2020-06-29 16:54] lorenzo-dd commented on #116
it is gridjs.html() should be stated in the docs.

[2020-06-29 17:48] krootee opened #117 "Sorting fails if column data is an object with boolean fields"
**Describe the bug**
Data for the table is returned via JSON from server-side and contains one of the columns with the following data:
"options: {
    viber: false,
    whatsapp: false
}"

Then this information is used in custom "formatter" to produce column text.
Rendering of the page works without issues, but enabling sorting ("sort: true") and then entering anything in the search box results in

[2020-06-29 21:09] afshinm commented on #115
thanks @jhonoryza -- I think we should be able to add a dark theme soon.

[2020-06-29 21:09] afshinm commented on #117
I will take a look @krootee

[2020-06-29 21:23] afshinm commented on #117
@krootee i couldn't reproduce that error. Could you create a jsFiddle/CodeSandbox?

[2020-06-29 21:52] #117 closed

[2020-06-29 23:02] afshinm commented on #113
Sure! will add that to the roadmap.

[2020-06-30 23:35] #112 closed

[2020-07-01 00:39] michaelschofield commented on #57
Hey! Timely. We just decided to replace a current homegrown datatable with gridjs. Our front end is nuxt but I'm experimenting not with the grid vue integration but just wrapping a component around the main library, and the array of objects update you made just a couple days ago has made converting a snap.

The chief thing I was trying to figure out before stumbling on this issue was how I can emi

[2020-07-01 01:22] michaelschofield commented on #57
After writing this I thought I would try the component. I did have to import `html` from the core library along with the component -

[code]

And I added a wrapper to the component's methods

[code]

and In the component's `cols` attribute, I added the following formatter:

[code]
I think this is about as close as I can get with 1.8.0. You can `onclick` anything in there, but I can't access the co

[2020-07-01 08:54] afshinm commented on #57
@michaelschofield yeah true, you can use the `html` function or you can create and bind an HTML element to a cell `document.createElement('b'); ...`. I was very busy refactoring and fixing some internal parts. I'm hoping to release a new version with onClick functionality this week.

[2020-07-01 13:19] michaelschofield commented on #57
@afshinm Awesome. Also just 👏 kudos for being so active and quick to respond on a bunch of issues.

[2020-07-01 19:38] afshinm commented on #112
@sasha42 Added in 1.9.0! see https://gridjs.io/docs/examples/html-header-cells/

[2020-07-02 08:09] afshinm commented on #41
We don't have React Native support yet.

[2020-07-02 08:09] #41 closed

[2020-07-03 20:03] simonpetry opened #125 "Uncaught TypeError: Cannot read property 'filter' of undefined"
**Describe the bug**
First off, thanks for making gridjs. Really impressed with how friendly the APIs are.
When working in react hot-reload environment, we're hit with an uncaught error when changes are made:

[code]

Minified + beautified code reference:
[code]

**To Reproduce**
https://codesandbox.io/s/awesome-rosalind-ku25j?file=/src/App.js
1. On the right is the preview, select "courses"
2. Lo

[2020-07-04 09:42] afshinm commented on #125
Thanks for reporting that error. I will patch that today in 1.10.

[2020-07-04 09:48] #57 closed

[2020-07-04 09:55] #125 closed

[2020-07-05 12:21] afshinm commented on #57
@michaelschofield @McKlatch just published 1.10.0 which adds a global EventEmitter. see https://gridjs.io/docs/examples/row-buttons and https://gridjs.io/docs/examples/event-handler

Please let me know if those handlers/events are helpful. I'm happy to add more events or update them.

[2020-07-06 15:29] jhonoryza opened #131 "search placeholder not working"
![image](https://user-images.githubusercontent.com/5910636/86610775-040ca480-bfd8-11ea-82d1-f8782d71ee67.png)

here is my code:

search: {
            server: {
                url: (prev, keyword) => `${prev}?search=${keyword}`
            },
            placeholder: "Cari"
        },

[2020-07-06 20:59] afshinm commented on #131
`placeholder` is actually moved to the `language` config, see https://gridjs.io/docs/examples/i18n

Apologies if it was confusing. I will update the docs.

[2020-07-06 20:59] #131 closed

[2020-07-08 10:25] Thimows opened #137 "[Feature request] Receive the index number of a row on click"
It would be great to have access to the index number of a row when that row is clicked. This would help me with my project for sure. 🙂

It would be nice to see an **'original index'** value that returns the same original index even after sorting/searching the table. It would also be nice to have a **'current index'** value that returns a different index when the table is sorted/searched.

[2020-07-10 13:28] harloom opened #142 "Add export excel or pdf document"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
With pagination :+1:

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other contex

[2020-07-10 20:00] afshinm commented on #45
Added in 1.11.0. thanks!

[2020-07-10 20:00] #45 closed

[2020-07-10 22:06] nocodeventure opened #143 "Element actions for triggering actions"
We're looking for an option to add element actions to trigger certain actions like deleting a row. Checkboxes would be great too but I saw that was already requested.

Great work so far

[2020-07-11 16:49] amatzen opened #144 "[Sorting] Back to Normal State for Third Press"
Currently the Sorting System is:
![Image of current sorting](https://screenshots.amatzen.dk/Y4me39dK50K2TuCKB8.gif)

The first state is meant by:
![Image of first state](https://screenshots.amatzen.dk/yO1TrhW2W2VB7IMLoN.png)

But you can never return to the first state by clicking the sorting buttons, after you've just used them once. I think that it hurts the user experience, and I would like the

[2020-07-11 16:50] McKlatch commented on #57
Thank you so much for reading and responding to my comment. I appreciate it.

If I were to go about using the rowClick event, which way could I indicate interactivity ('rowHover')? I can use the row-button anyway, since buttons natively indicate that they are clickable.

Grid.js is now at a place where I can install it on a project i'm working on - will do this Monday/Tuesday. I'm excited to try i

[2020-07-11 16:56] salamaashoush opened #145 "Generic async data source for sorting, pagination and searching"
Some cases like mine we have our own API client that do data fetching/sorting/pagination from server

A generic solution to allowing grid users to hook their own data source instead of fetching the data from gridjs code
[code]
This is similar API from ag-grid for reference https://www.ag-grid.com/javascript-grid-server-side-model-datasource/

[2020-07-12 13:07] afshinm commented on #57
@McKlatch I guess you can use a button in that case where you have hover/click/etc.

[2020-07-12 13:14] afshinm commented on #143
@nocodeventure do you want to add buttons to each cell? have you seen this example https://gridjs.io/docs/examples/react-cells

[2020-07-12 13:17] afshinm commented on #144
@amatzen you can remove the sort from a column by **holding the shift key** and clicking on the sort buttons. You can also sort multiple columns by holding the shift key and clicking on multiple columns.

Let me know this is confusing. I'm happy to improve it.

[2020-07-12 13:24] afshinm commented on #145
You can use the `data` config and pass your data to the instance, see https://gridjs.io/docs/examples/import-async. You can then enable search or pagination but it will be a client-side sorting and pagination.

But I can see that you want to use server-side pagination as well which makes sense. It is possible to write a custom Storage (e.g. https://github.com/grid-js/gridjs/blob/master/src/storage

[2020-07-12 16:04] nocodeventure commented on #143
Ah thanks so much, would this also allow us to add icons?

[2020-07-12 20:49] #39 closed

[2020-07-14 21:53] ywsang opened #150 "Support for styling shadow DOM"
Hi! I’m interested in creating a web component for Grid.js that could be used in any framework or in plain HTML. I’ve done a little bit of work to see how this might work, and it looks promising in regards to Grid.js working with shadow DOM. Here’s an example of the markup, and the table it generates (mimicking the "Hello World" example in the docs).

[code]
![image](https://user-images.githubuser

[2020-07-14 23:04] afshinm commented on #150
Thank you @ywsang. What you explained makes sense to me. Grid.js does support CSS-in-JS (https://gridjs.io/docs/examples/css-in-js) and I guess that can be a potential solution?

[2020-07-15 11:02] amatzen commented on #144
Oh nice! But I still think it should be the third press, that removes the sort, since most websites already uses this. Mostly for the UX for the common user.

[2020-07-15 16:39] dgaus opened #154 "Support for accessing nested data"
HI. I am loading data from JSON and have some nested fields I would like to access. The use case is I have some dynamic columns. IE

[code]
Using dot or bracket notation in the `id` field seems to have no effect (`id: "extra_info.version"` or `id: "extra_info['version']"` I can get the value to display by using a custom formatter, but then sorting does not work. It would be nice to be able to acce

[2020-07-16 15:27] Zegoverno opened #157 "Search Customization"
**Is your feature request related to a problem? Please describe.**
I have a cell where the value is an array of categories and I can't search a specific category inside this array

**Describe the solution you'd like**
would like to be able to customize the search engine to adapt to this scenario. Something like this, I get the Search Input, and if the cell is an array or another structure (diction

[2020-07-16 15:34] Zegoverno opened #158 "Adding useQuery option the server feature"
**Is your feature request related to a problem? Please describe.**
Today you can pass the URL and some parameters to the server and it uses fetch to get the data from the server-side.
I have a useQuery connected to firebase, would be nice to pass this instead of a URL.

**Describe the solution you'd like**
Receive the useQuery, verify the current state (loading, error, success) and return the data

[2020-07-18 13:56] cedriking commented on #145
Hey @afshinm , I'm looking for this same option. My first call returns IDs of elements and then using GridJS I have a `data: async` that goes and fetch each ID's data. Being able to just fetch the ones that are going to be shown right away (pagination) will be amazing! Looking forward to your example 💯

[2020-07-18 16:57] cedriking opened #164 "Set a custom ID"
**Is your feature request related to a problem? Please describe.**
Not related to a problem.

**Describe the solution you'd like**
Add the option to set custom IDs to cells, this way with the `onClick` event, be able to grab the right ID and interact with it.

Example, I have a row with a username, when I click on it what I want is the ID of the user and then being able to do requests to my server

[2020-07-18 17:00] cedriking commented on #157
I was wondering if this is possible too. I would like to be able to do a search by userID and username, but the userID I don't want it to be visible.

[2020-07-19 09:25] afshinm commented on #158
makes sense. added to the backlog.

[2020-07-19 09:26] afshinm commented on #157
yeah that makes sense. I will release a new version soon with that feature! thanks

[2020-07-19 09:29] afshinm commented on #154
@dgaus my understanding is that you can either pre-process your JSON and flatten the properties or use the `formatter` callback to select your data. Do you think you can potentially use one of those solutions?

Also, I'd like to see how you initiated your Grid.js instance. It would be great if you create a Codesandbox or paste your code here.

[2020-07-19 09:30] afshinm commented on #145
gotcha @cedriking. Could you please paste your code here as well? I will do my best to come up with a solution soon.

[2020-07-19 09:31] afshinm commented on #144
@amatzen I see. yeah I guess I can add an option to enable that behavior, too. Thanks for the suggestion!

[2020-07-19 09:32] afshinm commented on #113
@SwederSchellens just released 1.12.0 which adds plugins to Grid.js! https://gridjs.io/docs/plugin/basics

Thank you!

[2020-07-19 09:32] #113 closed

[2020-07-19 09:33] afshinm commented on #143
@nocodeventure yes! you can also add icons using the React wrapper. I have recently added a React component wrapper to gridjs-react.

[2020-07-19 09:33] #143 closed

[2020-07-19 09:36] afshinm commented on #164
@cedriking each Grid.js row has a unique UUID: https://codesandbox.io/s/gridjs-hello-world-yrgp2?file=/src/index.js

Do you think you can use that UUID to achieve what you're after?

[2020-07-19 12:51] cedriking commented on #164
Thanks @afshinm for the quick reply. Yes, that's the one I was hoping I could change to the userID. Right now it's something done by default, can we set that ID to something else?

[2020-07-19 22:49] dgaus commented on #154
Flattening the properties is what I'm doing now, but it could potentially lead to name clashes and adds one extra step. The formatter is the first thing I tried, but as I mentioned sorting doesn't work that way. I was using vue-gridjs and the initialization was pretty standard, with data fetched externally. I don't have the code as it was just an experiment using gridjs, but basically what I would

[2020-07-21 09:15] defusevenue commented on #145
I'm currently looking for a solution to this as well. I came up with a few possible solutions:

1. Add events for pagination, sorting, and search.
2. Pass url from [pagination](https://gridjs.io/docs/examples/server-side-pagination), [sorting](https://gridjs.io/docs/examples/server-side-sort), and [search](https://gridjs.io/docs/examples/server-side-search) to the data function as parameters. Then

[2020-07-23 18:42] sabatale opened #172 "ReferenceError: html is not defined with unpkg"
**Describe the bug**
Probably just a question, thanks for your awesome work!

While using the unpkg script with an HTML formatter, I'm getting `ReferenceError: html is not defined` for `formatter: (_, row) => html(`<a href='mailto:${row.cells[1].data}'>Link</a>`)`. Table is not loading as a result.

**To Reproduce**
Something like:

[code]

**Expected behavior**
A clear and concise description of

[2020-07-24 09:53] afshinm commented on #172
@sabatale `html` is a part of `gridjs` global. In other words, try `gridjs.html(...)` or:

[code]

before calling `html` function and `Grid` class:

[code]

[2020-07-24 09:53] #172 closed

[2020-07-24 09:54] afshinm commented on #164
@cedriking no, it's not possible right now but I'm happy to change it.

[2020-07-24 09:55] afshinm commented on #157
@cedriking @Zegoverno please install 1.13.0 and use the `selector` config in your search config to customize the global search: https://github.com/grid-js/gridjs/blob/master/src/view/plugin/search/search.tsx#L15

[2020-07-24 09:55] #157 closed

[2020-07-24 09:57] afshinm commented on #154
@dgaus gotcha, that makes sense. I will release another version in a few days which will add a selector function to columns.

[2020-07-25 11:40] #154 closed

[2020-07-25 19:08] afshinm commented on #154
@dgaus added in 1.14.0.

[2020-07-27 02:02] well-ington opened #179 "What if we could create a more powerful html creator function"
I'm using GridJS on my current project and something that was bothering me is that I was unable to pass a scoped function to the `html` creator, from `src/util/html.ts`. I needed to get Preact as a dependency and return an VNode to solve my problem (the problem was to call a scoped function with scoped values in an event).

It could be fixed by updating the code:
Export the VNode creator imported

[2020-07-27 18:22] afshinm commented on #179
@well-ington We have some examples on this page https://gridjs.io/docs/examples/virtual-dom but I guess you're right and it makes sense to add some tips to other examples and mention that Preact's VNode can be used directly as well.

[2020-07-30 06:40] Fxztam opened #184 "Configure style & zebra stripe ?"
Is there a way to configure the grid style: fonts, colors of header & rows .. and `zebra stripes`: {true | false} ?

[2020-07-30 21:32] sabatale opened #185 "Multi-line for cells"
**Describe the bug**

Not really a bug since I assume this is by design.

For a cell with a long text (such as a Title or a short description), it looks like the line goes on forever.

This forces the table to enable horizontal scrolling, which is not always nice.

**Expected behavior**

What is the recommended approach right now?

Is it to apply HTML formatting somehow? Or are they standard cases

[2020-07-31 09:37] #102 closed

[2020-08-01 09:45] #179 closed

[2020-08-02 10:38] #145 closed

[2020-08-02 11:16] krootee opened #190 "Release 1.15.0 is broken for server side data loading"
**Describe the bug**
Server-side data loading is broken with 1.15 - downgrading to release 1.14 fixes the issue.
Gridjs breaks at processing data from URL with exception
"[Grid.js] [ERROR]: TypeError: data.data is undefined log.ts:17:14
    error log.ts:17
    process pipeline.ts:208
    a tslib.es6.js:100
    a tslib.es6.js:81
    a tslib.es6.js:72"

**To Reproduce**
Steps to reproduce the behavi

[2020-08-02 11:20] afshinm commented on #190
I will take a look asap

[2020-08-02 11:27] afshinm commented on #190
Found the issue, I will release another patch in a few mins. Apologies.

[2020-08-02 11:51] #190 closed

[2020-08-02 11:52] afshinm commented on #190
@krootee could you please install 1.15.1 and confirm if it's fixed for you?

[2020-08-02 13:05] afshinm commented on #145
@defusevenue @cedriking @salamaashoush Please install the latest version and see this example https://gridjs.io/docs/examples/custom-http-client. Thanks!

[2020-08-02 18:05] krootee commented on #190
@afshinm Tested 1.15.1 and its working now.

Thank you!

[2020-08-02 21:34] cedriking commented on #145
Thanks a lot!

[2020-08-03 10:46] afshinm commented on #185
@sabatale have you tried disabling the `autoWidth` option (https://gridjs.io/docs/config/autoWidth) and set the width for each column manually?

[2020-08-03 10:46] afshinm commented on #184
@Fxztam yes, have you tried https://gridjs.io/docs/examples/css-style or https://gridjs.io/docs/examples/css-in-js?

[2020-08-04 07:27] wcc526 opened #193 "Does gridjs support angular 9 or 8?Is there any examples?"
Does gridjs support angular 9 or 8?Is there any examples?

[2020-08-04 08:19] Fxztam commented on #184
That's exactly what I was looking for!
Great, I like it.

[2020-08-04 08:19] #184 closed

[2020-08-08 13:00] slysherz opened #200 "Rendering an object in a table changes the object"
**Describe the bug**
Rendering an object in a table changes the object, adding a few properties to it.

**To Reproduce**
[code]

Open this page on the browser and look at the console.

**Expected behavior**
The page should work fine, without errors.

**Desktop:**
I tried this on Windows, with the lastest Firefox version and Chrome versions.

[2020-08-08 14:29] afshinm commented on #200
@slysherz that's because you are passing a **reference** of your `object` variable to Grid.js and Grid.js adds some properties to the input data. If you want to reuse your input data, please clone it first and then pass it to Grid.js, e.g.:

[code]

[2020-08-08 14:29] #200 closed

[2020-08-09 12:55] sg1asgard opened #202 "Svelte implementation / wrapper"
A Svelte implementation/wrapper would be great as well, if and when possible.

[2020-08-09 12:56] sg1asgard opened #203 "HUGO implementation / wrapper"
HUGO is on the rise and maybe it is a good idea to support this as well?

[2020-08-15 00:20] cdvillard opened #213 "Provide a way to identify cells in a particular "column" with a custom class or data identifier."
**Is your feature request related to a problem? Please describe.**
Tables, for all their potential, are woefully underserved when it comes to responsive design. I'm using Grid.js to build a web application in Vue, and decided to hack together a responsive style turning the rows into a sort of list of cards. I'd like to make these styles reusable across the different kinds of tables we have, but a

[2020-08-16 21:42] #33 closed

[2020-08-20 10:39] tumngust opened #218 ""Ready" event is missing"
There is a "load" event wich emitted when data is loaded but before grid is rendered - so you can't manipulate grid elements in "load" event hadler.

There should be a "ready" event, wich fire after grid is rendered and ready.
For example, this event may be used to restore scroll positions (wich resets after grid reload), to initialize other plugins (like drag&drop) e .t.c.

[2020-08-24 11:08] mdennisa commented on #164
I think this would be a great feature.
The limitation with formatter currently is that we can only access the data that is specified by columns.

In more specific case, we want to access specific data reference from the data object instead of columns, and there are some cases where specific data is not displayed to preserve the column size.

example:
[code]

by having a way to access data from for

[2020-08-25 09:46] #158 closed

[2020-08-25 11:41] #144 closed

[2020-08-26 08:18] tumngust commented on #218
Thanks, works perfectly 😀

[2020-08-26 11:56] lesaff commented on #213
@cdvillard I agree. I ran into the same issue with not being able to easily add class name(s) to a particular column. For now, this is my solution:

To access the third TD cell from the left:

[code]

[2020-08-26 23:51] cdvillard commented on #213
I can definitely work with that, but I need to.be able to do this on a component per component basis, and after a while, that doesn't scale too well.

[2020-08-28 08:57] afshinm commented on #213
Makes sense. I will try to add className for columns and/or `data-*` attribute for the `td`s. Thanks for the suggestion @cdvillard

[2020-08-28 10:37] #213 closed

[2020-08-28 10:40] afshinm commented on #213
@cdvillard @lesaff added in 1.16.0 https://github.com/grid-js/gridjs/releases/tag/1.16.0.

[2020-08-28 10:47] afshinm commented on #193
We don't have any wrappers for Angular yet but there are some open projects (e.g. https://github.com/salamaashoush/gridjs-angular) working on this integration. I will add more details to gridjs.io soon.

[2020-08-28 10:47] #193 closed

[2020-08-28 10:48] afshinm commented on #164
Sorry for the delay @cedriking -- I will proprieties this ticket.

[2020-08-28 11:00] afshinm opened #227 "forceRender should not reset the internal state"
**Describe the bug**

`forceRender()` resets the internal application state (e.g. current page number)

**Expected behavior**
Add an option to keep the state and `forceRender()` the instance

**Additional context**

https://github.com/grid-js/gridjs-react/issues/74

[2020-08-28 13:37] michaelschofield commented on #213
@afshinm Hot damn dude. I just want to appreciate you out loud for how well you maintain this project.

[2020-08-28 14:48] AleksandrHovhannisyan opened #228 "Reset to default sort order once a user cycles through ascending/descending for a column"
**Describe the bug**
Currently, if you sort a column, you're stuck with that sorted view until you refresh the page or sort by a different column.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://gridjs.io/.
2. Sort one of the columns in the demo table.
3. Observe that you're now stuck with ascending/descending and no default sort.

**Expected behavior**
Clicking a column heade

[2020-08-29 09:37] afshinm commented on #213
No worries @michaelschofield :)

[2020-08-30 09:32] afshinm commented on #228
thanks @AleksandrHovhannisyan. I believe we had a similar ticket in the backlog but I will include this one as well.

[2020-08-31 16:11] qant opened #230 "Add Checkbox with mark all options to first column?"
Hi there! Is it possible to get first column as checkbox?

Can you guide with simple example how i can do this?

I understand it may be possible to modify html structure after whole table is rendered... but i wold like to make some changes in .ts files to add this as feature.

Just let me know where with some small example may be its not so hard to implement.

Thank you!

[2020-08-31 19:14] #164 closed

[2020-08-31 20:12] afshinm commented on #164
Added in 1.17.0: https://gridjs.io/docs/examples/cell-attributes

[2020-09-01 16:25] gustavoaalves opened #236 "The column grid does not re-size correctly"
**Describe the bug**
The column grid does not re-size correctly according column value size when we are using pagination.

**To Reproduce**
Steps to reproduce the behavior:
1. Generate a grid with pagination wiht limit equal 2 where the first and second records has the first column value with only 5 characters and the third record has the first column value with 20 characters.
2. Click on page 2
3

[2020-09-02 00:20] kartikye opened #237 "Example not working: The container element [object HTMLDivElement] is not empty"
**Describe the bug**
The example code does not run.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Error in console:
[Grid.js] [ERROR]: The container element [object HTMLDivElement] is not empty. Make sure the container is empty and call render() again

**Desktop (please complete the following information):**
 - OS: Windows 10
 - Browser: Chrome
 - Version: Versi

[2020-09-04 14:02] radiospiel commented on #237
You must remove all space in the wrapper div definition; i.e. it must read `<div id="wrapper"></div>`, no newline etc.

[2020-09-07 10:22] afshinm commented on #237
I believe what @radiospiel suggested is correct.

[2020-09-07 10:23] #237 closed

[2020-09-07 10:37] afshinm commented on #236
@gustavoaalves thanks for opening this ticket. I can see how that bug can occur. Grid.js takes the first few rows and calculates the width of each cell and uses the same width for all columns. This approach has some pros and cons but overall, it covers a lot of cases correctly.

What I can do is:

 - Exposing the adjustHeader API so that you can manually call it and Grid.js adjusts the header for

[2020-09-07 10:38] afshinm commented on #230
@qant sure, I'm happy to add an example for that.

[2020-09-07 13:42] salamaashoush commented on #193
@wcc526I I published it on npm you can try it now https://www.npmjs.com/package/gridjs-angular

[2020-09-09 02:33] thewebartisan7 opened #245 "Share formatter callback with all columns"
**Is your feature request related to a problem? Please describe.**

I have an html table with several cell that has HTML, and multiple columns can be in different cells.
Right now with formatter() method seem that I can only format single column.

**Describe the solution you'd like**

I would like to be able to have single template like below semplified example using JSRender:

[code]

Next I want

[2020-09-09 13:27] #185 closed

[2020-09-10 12:02] sjurgis opened #247 "Sort and pagination buttons don't work in Salesforce's LWC"
**Describe the bug**
Clicking on header or Next doesn't do anything. Enabling "Pause on caught exceptions" reveals:

[code]

**To Reproduce**
You'll have to setup Salesforce environment which is quite a few steps:

1. Go to [developer.salesforce.com](https://developer.salesforce.com/signup?d=70130000000td6N) to open new account. You'll get a signup link in your email. Once you create a password
2.

[2020-09-13 04:14] benborla opened #248 "Server-Side Search doesn't work"
**Describe the bug**
I tried to implement a server-side search using the editor on the website, I've used the pokemon API URL but it doesn't work, it only returns all the lists of the first page.

**To Reproduce**
Steps to reproduce the behavior:
Use this code on this URL (Server Side Search Documentatôn)[https://gridjs.io/docs/examples/server-side-search]
[code]

**Expected behavior**
It should r

[2020-09-13 08:32] afshinm commented on #248
@benborla because `?search=` is not a valid parameter for that endpoint, e.g. https://pokeapi.co/api/v2/pokemon?search=abcde

[2020-09-13 08:32] #248 closed

[2020-09-13 08:39] afshinm commented on #245
thanks @thewebartisan7. Have you tried cell attributes: https://gridjs.io/docs/examples/cell-attributes/? With that function, you can define attributes for each cell (e.g. a className).

[2020-09-13 08:45] afshinm commented on #247
thanks @sjurgis. I'm not entirely sure if this is a Grid.js bug, but I'm happy to spend some time and debug. Is is possible to get a free trial of Salesforce's LWC (never used it before)?

[2020-09-13 08:55] sjurgis commented on #247
Yes, step 1 will get you free trial of Salesforce, where LWC is just one of the frameworks they have. I don't think the trial ever expires.

The bug comes from a minified part of code, I assume it's going to be TS or Babel or whatever is in your build chain that adds that. Is it possible to get a build that doesn't have minified code at all?

[2020-09-13 08:58] afshinm commented on #247
@sjurgis absolutely: https://unpkg.com/gridjs@1.17.0/dist/gridjs.development.js

[2020-09-13 09:12] sjurgis commented on #247
@afshinm as I said, the exception traces to the part that's minified (starting ~40th line)

[2020-09-13 09:19] afshinm commented on #247
Oh I see, I believe that's tslib minified code. thanks for clarifying, I will look into it.

[2020-09-13 18:57] thewebartisan7 commented on #245
@afshinm Thanks, I missed that part. This solve issue of adding custom class for each cell, nice.

What about single template for one full row?

And second one less important, is how to access column name from formatter, I can access only generated id.

Here is a jsfiddle example: https://jsfiddle.net/bjteg3zw/

[2020-09-14 13:08] thewebartisan7 commented on #245
Also another problem is that I can access in formatter() only to data in cells using row.cells[1].data
And not the whole JSON data from server.
For example if I want to show in a cell two items of data from server, i can only do that if I add them to table.
Am I missing something?

[2020-09-17 12:23] nalinmathur0 opened #252 "Colspan and Rowspan feature"
Hi, Is there any way of adding colspan and rowspan attributes in the table?

[2020-09-21 00:18] andresfdel17 opened #253 "Request ReloadTable"
Saludos,

Encuentro muy útil tu librería y te agradezco el aporte.

Mi pregunta, no tienes al go para recargar la tabla?, ejemplo. Estoy usando filtros dinámicos, cómo puedo recargar la tabla al cambio de uno de estos filtros?

[2020-09-27 10:33] atresnjo opened #268 "How can I accomplish assigning my own id to a row?"
**Is your feature request related to a problem? Please describe.**
Basically when I click "Edit" I want to get access to my own id that belongs to the row.

Related to: https://github.com/grid-js/gridjs/issues/164

But I don't see how I can access "data" from the cell attributes?

**Describe the solution you'd like**
If possible somehow to access the "id" prop from the cell attributes.

**Describe

[2020-10-01 07:14] bastiedotorg opened #269 "HTML Support in language"
Hi,

I tried to use font-awesome icons in the translated strings.
Unfortunately, gridjs did not like that and reverted to the default string when I added gridjs.html around it.
Without it, the source was displayed.

BR
Bastian

[2020-10-02 02:35] BenitoJedai commented on #245
@thewebartisan7 hi man i need the grid of the pic you share omg is amazing please share source sir

[2020-10-02 02:36] BenitoJedai commented on #253
Hola amigo usas el método  forceUpdate

[2020-10-02 02:41] BenitoJedai commented on #253
forceRender

[2020-10-02 04:43] thewebartisan7 commented on #245
I am glad you like it. It's a commercial starter kit based on Laravel, see http://staging.laraloop.com/
At the moment is not yet released but will be soon.

[2020-10-02 18:21] betotoobien opened #270 "index"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-02 19:15] BenitoJedai commented on #245
@thewebartisan7 you can also share only source code gist of how i can implement row selections of gridjs and return array[] of ids please man i not have any idea how make this and y have one crucial project to implement this function please Man if you can thanks for all

[2020-10-02 19:17] BenitoJedai commented on #245
@afshinm hi sir please help me with gist code how i can implement a row selection in gridjs tha return arrays of row id multi selection actions like delete etc... please help me Sir

[2020-10-03 08:11] thewebartisan7 commented on #245
In the screenshot is not using gridjs. I was not able yet to find an easy solution to handle this with gridjs. For now I have implement without any JS, and with DataTable. The problem that I am facing with gridjs is explained above and is not yet solved. The main issue for me is that all columns defined will be shown, while I need to format table differently. I saw recently was added nested header

[2020-10-03 08:34] afshinm commented on #245
@thewebartisan7 right yeah, `formatter` gives you the row, cell and column as a callback function but if you need the entire table, you can use custom HTTP clients https://gridjs.io/docs/examples/custom-http-client and save the payload in a global/shared variable.

[2020-10-03 08:35] #270 closed

[2020-10-03 08:36] afshinm commented on #269
@bastiedotorg can you share your code please? Have you tried using the `formatter` instead?

[2020-10-03 08:38] afshinm commented on #268
Thanks for the feedback @atresnjo -- I'm currently working on adding `hidden` option to the columns and hoping to release it today. That should solve your issue.

[2020-10-03 08:54] afshinm commented on #268
btw, the 3rd argument of both `formatter` and `attributes` is the column which can give you the column ID: https://codesandbox.io/s/gridjs-cell-attributes-9n88d?file=/src/index.js.

Does that address your issue?

[2020-10-03 09:43] #43 closed

[2020-10-03 09:52] #268 closed

[2020-10-03 09:53] afshinm commented on #252
Hi @nalinmathur0, yes, you can use the `attributes` callback for that purpose: https://gridjs.io/docs/examples/cell-attributes/

[2020-10-03 09:53] #252 closed

[2020-10-03 10:50] thewebartisan7 commented on #245
I am not sure how a custom http client can help me, for just format data I can use server.then:

[code]

It was now time ago when I do test, so I am don't remember correctly, but the problem was that I was not able to access data in formatter cell if this was not in `columns`. It was in data but not in columns for header... I mean this https://github.com/grid-js/gridjs/issues/245#issuecomment-6920

[2020-10-03 12:22] atresnjo commented on #268
The hidden option works for my case, thanks!

[2020-10-03 13:45] systemcrash opened #272 "Question: how to load JSON whose key has no name or ID? Value is the key (like a dictionary)"
https://gridjs.io/docs/examples/import-json says:
`Grid.js expects each column to have a unique id field which matches the keys in the data object`

How do I handle JSON which comes from the server side like this?:

[code]

I have tried a number of permutations, as to how I would expect the array to be formed, and I get no errors, nor anything displayed with e.g. this:

[code]

or this:
[code]

Ba

[2020-10-04 08:11] afshinm commented on #272
You need to change the shape of your data a little bit to match what Grid.js expects:

[code]

See this example https://codesandbox.io/s/gridjs-hello-world-json-ddjg0?file=/src/index.js:667-779

[2020-10-04 08:11] #272 closed

[2020-10-04 08:12] afshinm commented on #272
Obviously you are using the server-side approach and you don't need to use the `data` field but the same function can be used to transform the payload received from your server.

[2020-10-04 11:57] #203 closed

[2020-10-04 13:25] systemcrash commented on #272
Ah, thank you. I was forgetting the return statement in my later attempts. The winning formula based on your input was:

[code]

You're welcome to put this among your other examples on the website (as a way of showing that id-less data works too).

[2020-10-04 14:10] afshinm commented on #272
Awesome! thanks @systemcrash

[2020-10-07 18:48] pedrocasado commented on #84
The hacky `${prev}?q=${keyword}&` does work.

The ${keyword} contains {query}?limit=20&offset=1 which will become http://domain.dev?q=query?limit=20&offset=1 (doubled "?")

Maybe its a bug in concatenation?

[2020-10-09 14:15] BenitoJedai opened #278 "Summary sum"
Hi i need to create a sum o values from grid.config.data how i can done this like

const sums=()=>{
return grid.config.data.reduce((p,n)=>p.cost + n.cost)
}

This return null or nan o undefined4

[2020-10-11 15:37] wolfgangmm opened #281 "Server side search: no parameter sent"
Using gridjs 2.1.0 I somehow can't get server-side search to work. The required parameter is not sent in the HTTP request and it even looks like the search.server.url function is never called. Below is my config - maybe I'm missing something simple:

[code]

**Desktop (please complete the following information):**
 - OS: Mac OS
 - Browser: Chrome
 - Version: 85.0.4183.121

[2020-10-13 08:11] im28 opened #282 "Hi there is a bug regarding the nested headers the text is displayed incorrectly when multiple nested headers are added"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-10-13 08:15] im28 opened #283 "Nested Header text collapse"
Hi there is a bug regarding the nested headers the text is displayed incorrectly when multiple nested headers are added

**To Reproduce**
Steps to reproduce the behavior:
const grid = new Grid({
  columns: [
      {
        name: 'Name',
        columns: [{
          name: 'First'
        }, {
          name: 'Last'
        }]
      },
      'Email',
      {
        name: 'Address',
        column

[2020-10-13 08:38] afshinm commented on #282
Please add more details + screenshot.

[2020-10-13 08:38] #282 closed

[2020-10-13 08:42] afshinm commented on #283
You have about 20 child headers while your data represents 5 columns only. That's why the header columns don't match your data columns.

Also, to fix the width issue, simply set `width: 1000px` in your Grid.js config and that should fix the issue.

[2020-10-13 08:42] #283 closed

[2020-10-13 19:18] polymer-coder opened #284 "Vertical headers"
This isn't a bug report, just a general question, is there anyway to get a table with vertical headers like in the below image?

![image](https://user-images.githubusercontent.com/71771821/95905828-52fc6f80-0d67-11eb-80ab-a459e247cf1c.png)

[2020-10-13 21:59] BenitoJedai opened #285 "Undefined grid.config.data"
@afshinm  Please help me assume this code example
`const grid = new gridjs.Grid({
      columns: ["id", "fecha", "origen", "destino", "precio"],
      sort: true,
      fixedHeader: true,
      height: '350px',
      server: {
        url: "http://localhost:8080/api.php/viajes?transform=1",
        then: data => data.viajes
      },
      language: {
        'search': {
          'placeholder': '馃

[2020-10-14 01:58] BenitoJedai commented on #285
Sir @afshinm
For fast abb of my issue i need know how i can get data from grid var when used server url and get the dat in grid like data.config.data

[2020-10-16 17:01] jg76379 opened #288 "Typings for events?"
**Is your feature request related to a problem? Please describe.**
I can not figure out how to properly type the events emitted from Grid (https://gridjs.io/docs/examples/event-handler). Do types exist for this? It seems to return an array where [0] is the mouse click event and [1] is the instance of the Row class, but those classes don't seem to exist as global exports from the package.

**Descri

[2020-10-17 11:52] nocodeventure opened #292 "Whitespace under table"
There seems to be a whitespace under the table of around 100px, not sure how I can remove that one?

[2020-10-17 22:38] Kublick opened #293 "Server / missing http headers in request"
**Describe the bug**
On server options to retrieve the data from the server, I added the header to send a validation token ; after checking the request call headers are missing

**To Reproduce**
Steps to reproduce the behavior:

config server in the function:
 server={{
          url: process.env.backendURL + '/api/users/',
          header: { 'x-auth-token': 'gibersih' },
          then: (data) =

[2020-10-18 08:49] afshinm commented on #293
@Kublick I couldn't reproduce that bug with the latest version of Grid.js:

[code]

[2020-10-18 08:49] afshinm commented on #293
oh the key is `headers` not `header`. Sorry for the confusion. I will update the docs.

[2020-10-18 08:49] #293 closed

[2020-10-18 08:55] afshinm commented on #292
Please fill out the bug report template and submit this issue again.

[2020-10-18 08:55] #292 closed

[2020-10-18 08:57] afshinm commented on #288
Evens are already typed, see https://github.com/grid-js/gridjs/blob/master/src/view/events.ts and https://github.com/grid-js/gridjs/blob/master/src/events.ts.

[2020-10-18 08:57] #288 closed

[2020-10-18 09:00] afshinm commented on #285
@BenitoJedai It's not possible to read the table data when the data source is server-side.

You might need to write a simple plugin to get access to the pipeline, see: https://gridjs.io/docs/plugin/basics

What are you trying to achieve?

[2020-10-18 09:01] afshinm commented on #284
Grid.js doesn't support this feature yet but I'm happy to add it to the roadmap.

[2020-10-18 09:04] afshinm commented on #281
I just used this online example https://gridjs.io/docs/examples/server-side-search and the search module works for me.

Your config seems to be correct though. Can you set a debugger/console.log in the search.server.url and log `prev` and `keyword` please?

[2020-10-18 09:05] afshinm commented on #278
There is an example on this page https://gridjs.io/docs/plugin/advanced-plugins

[2020-10-18 09:05] #278 closed

[2020-10-18 09:05] #253 closed

[2020-10-18 09:06] #27 closed

[2020-10-18 15:58] dmullis commented on #236
I am hitting the same or related bug.  Differences from the example above:
  1. pagination disabled
  2. long text fields are reflowing at word breaks, so last few characters are clipped off

For my application this is a blocker.  Currently trying to hack around it in various ways.

[2020-10-18 17:13] BenitoJedai commented on #285
@afshinm
Excuse me friend but after destroying and destroying all your code for almost 6 hours I have finally found the solution 😎
`grid.config.storage.get().then(function(viajes) {
alert(JSON.stringify(viajes.data))
})`
ready gets the data no matter if it is used from the server or with data There are no impossible friends 😉
And thanks for your excellent work, your library, except for my project.

[2020-10-18 17:16] BenitoJedai commented on #285
@afshinm add the trick in your gridjs webpage for all fans of this lib

[2020-10-18 17:44] afshinm commented on #285
Awesome!

[2020-10-18 17:55] dmullis opened #295 "Rightward overflow condition perceived by user as corrupt output."
An example, showing milder symptoms, can be seen by resizing this example to be narrow enough that the right half of the right-hand column's contents are clipped: https://gridjs.io/docs/examples/row-buttons

An especially problematic case occurs when:
* pagination is disabled
* number of rows exceeds limits of window height, so table is clipped at bottom
* the right-hand column happens to contain

[2020-10-21 21:20] systemcrash opened #303 "Request: Add gridjs to cdnjs ( Cloudflare etc backed )"
https://github.com/cdnjs/packages/blob/master/CONTRIBUTING.md

[2020-10-22 10:09] afshinm commented on #295
Gotcha @dmullis. Thanks a lot for clearly explaining the issue.

I see your point about setting the overflow to `unset` but I'm not sure if that's the best solution. I think a better solution is to somehow enable the horizontal scrollbar for the inner container (or something similar to show that the table viewport is clipped)

[2020-10-22 10:09] #285 closed

[2020-10-22 18:13] dmullis commented on #295
Yes, seems the outer window-scope scrollbar would remain problematic if, as one should assume, the table is embedded on a page with significant other content.  In my current case, there's nothing else, so it's tolerable.

However, I belatedly note another weakness of my workaround: On initial page load, or forced refresh, the scrollbar appears, and table is wider than window by about 5%.  A manual

[2020-10-26 18:49] systemcrash commented on #303
Sweet.

[2020-10-26 18:49] #303 closed

[2020-10-29 01:18] systemcrash opened #311 "column width % rendered as px"
**Describe the bug**

Set `width: '5%'` and resulting HTML is `style="width: 87px;"` - setting any % value seems to result in some px value calculated to that percent proportion of the window width.

**To Reproduce**
Steps to reproduce the behavior:
Set `width` to some `%` value
[code]

**Expected behavior**
Column HTML shows e.g.: `style="width: 10%;"`

https://gridjs.io/docs/config/columns

list

[2020-10-29 01:28] systemcrash commented on #236
Recommend word breaks for all cell content, i.e. whole table. Resizing page mashes column text into each other. Setting the HTML table tag `style` value to `word-break: break-word` gives the desired result. e.g. in the js:
[code]

[2020-10-29 16:14] andresfdel17 opened #312 "Need example"

[2020-10-29 16:15] andresfdel17 commented on #312
Hello, please i need a hiiden column example, to me don´t works!

[2020-10-29 16:41] andresfdel17 commented on #312
{
        className: {
          table: "table-responsive",
          th: "text-center",
          td: "text-center"
        },
        fixedHeader: true,
        sort: true,
        pagination: true,
        search: {
          server: {
            url: (prev, keyword) => {
              Var = keyword;
              return `${prev}?search=${Var}`;
            },
            method: "POST",

[2020-10-29 16:42] andresfdel17 commented on #312
{
        className: {
          table: "table-responsive",
          th: "text-center",
          td: "text-center"
        },
        fixedHeader: true,
        sort: true,
        pagination: true,
        search: {
          server: {
            url: (prev, keyword) => {
              Var = keyword;
              return `${prev}?search=${Var}`;
            },
            method: "POST",

[2020-10-29 16:44] andresfdel17 commented on #312
[code]

[2020-11-02 17:05] bastiedotorg commented on #269
Hi, sorry for the delay.
Minimum example:
[code]

Expectation: Previous button has the font-awesome rabbit.
Reality: Previous button has the default "previous" text.

If I leave gridjs.html out, the play html is displayed.

[2020-11-06 12:19] xguerin opened #323 "Option { className = null } throws an error"
**Describe the bug**
When calling the constructor, specifying `className = null` throws the following error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the “Hello World” example
2. Add `className: null` in the configuration object
3. Reload the page
4. See error

**Expected behavior**
A `null` value for `className` should be simply ignored as `className` is optional. This

[2020-11-06 21:54] xguerin opened #324 "Allow className for thead and tbody"
**Is your feature request related to a problem? Please describe.**
I would like the ability to specify a class for `thead` and `tbody` tags as Bootstrap allows specific configurations for those tags.

**Describe the solution you'd like**
[code]

**Describe alternatives you've considered**
Not at the moment

[2020-11-09 11:44] #245 closed

[2020-11-09 17:31] wolfgangmm commented on #281
It turned out that my example fails because the gridjs container div is rendered inside the shadow DOM of an enclosing web component. I'm not sure about the exact reasons, but it's also not a problem to create a separate search form inside my component and manually call `forceRender()` on gridjs to update. This works for me, so happy to close this issue.

[2020-11-09 17:31] #281 closed

[2020-11-09 21:00] fikrimi23 opened #326 "Rendering into a div with "display:none" result in non-standard width behaviour"
**Describe the bug**
I am trying to have tabs navigation with table as the content. At the initial state, only 1 content div is shown, the other has "display:none" attribute.
![image](https://user-images.githubusercontent.com/8409391/98595206-42103100-2308-11eb-828e-001b0c4653e2.png)

As I render the two table using gridjs (using new Gridjs obviously) the initially shown one is good, but when I sw

[2020-11-09 21:22] afshinm commented on #326
Hey @fikrimi23

Yes, because Grid.js expects the table to be available on the page and `display: none` simply hides the table and Grid.js autoWidth function cannot find it.

[2020-11-09 21:25] fikrimi23 commented on #326
Ok thank you for confirming

[2020-11-09 21:25] #326 closed

[2020-11-09 21:25] afshinm commented on #326
In order to fix this, you can either:

 - Display both table initially, bind a callback to the `ready` event of Grid.js and _then_ add the `display: none` attribute, or:
 - Set a static column.width instead if you can't display the table.

[2020-11-09 21:30] afshinm commented on #281
great, thanks @wolfgangmm

[2020-11-10 14:52] andresfdel17 opened #328 "Pagination selector"
Hello, i need a pagination record selector please. i work with a lot  of  records and i want than my clients can choose te rows:
Like this

[code]
or this
[code]

[2020-11-10 20:36] viliamzigo opened #329 "Auto width does not take in consideration width of sort icon"
**Describe the bug**

Auto width does not take in consideration sort icon. Thus, sort icon falls into next line (as in screenshot).

**To Reproduce**

Steps to reproduce the behavior:
1. Go to gridjs.io and find live editor
2. Allow sort and autoWidth
3. Change headers like in screenshot

**Expected behavior**

Should automatically calculate width of column with respect to sort icon and in never f

[2020-11-12 19:41] xguerin commented on #324
Added in PR #330 .

[2020-11-12 19:41] #324 closed

[2020-11-12 19:41] xguerin commented on #323
Added in PR #330 .

[2020-11-12 19:41] #323 closed

[2020-11-14 17:09] afshinm commented on #230
The selection module has been introduced in v3: https://gridjs.io/docs/examples/selection

[2020-11-14 17:09] #230 closed

[2020-11-14 17:10] afshinm commented on #312
This is perhaps because you're using a wrapper that hasn't been updated. I will update all wrappers today.

[2020-11-14 17:10] #312 closed

[2020-11-15 10:17] dependabot-preview[bot] opened #334 "Dependabot can't resolve your JavaScript dependency files"
Dependabot can't resolve your JavaScript dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/grid-js/update-logs/54906650).

[2020-11-15 10:52] #334 closed

[2020-11-15 20:21] anmar-dev opened #335 "Container template"
**Is your feature request related to a problem? Please describe.**
I finally have used this plugin and so far my experience with it is positive. Im not a JS developer and using this plugin with its light nature made my work so much easier.

just a simple suggestion for a feature.

table get generated with search input on the top left side. however if there is a container (Empty) on the right side

[2020-11-17 13:21] xguerin opened #338 "HTML escapes should be processed when importing from a HTML table"
**Describe the bug**
HTML escape sequences render verbatim when importing from a HTM table.

**To Reproduce**
Steps to reproduce the behavior:
1. Using "From HTML table" example
2. Replace "John" by "John &amp; Jane" in the `<td>`
3. See error

**Expected behavior**
The escape sequence should be processed.

**Additional context**
I will submit a PR based on https://stackoverflow.com/a/34064434.

[2020-11-19 14:48] nachiomdq commented on #253
Hi ! I'm have troubles with forceRender method.
I'm trying to send a query parameters, but when i refresh (through a button), query parameters are duplicated, and triplicated, and go on...

![Captura de pantalla 2020-11-19 a las 15 46 37](https://user-images.githubusercontent.com/17703028/99681469-73ae9800-2a7e-11eb-848e-1a47539b052b.png)

Table renders fine the first time, but when i select a cou

[2020-11-23 19:04] Thimows opened #345 "A click on 'No matching records found' triggers 'rowClick' and 'cellClick' events."
I noticed that when the 'No matching records found' alert is clicked that it triggers the 'rowClick' and 'cellClick' events. Is there a way to stop this from happening?

![ezgif-3-a4d4d6b25ee3](https://user-images.githubusercontent.com/62159496/100003891-05900b00-2dc7-11eb-8fdf-cf270de348df.gif)

[2020-11-26 03:49] sehwol opened #348 "Question: Getting the actual data object in the formatter callback"
Is there an official way to get the row from `config.data` in the `TColumn.formatter` callback instead of just the `Row class` object?

## Details

`TColumn.formatter` takes the callback below

[code]

When we need to make a button to get the data for that row, it would be nicer to get the actual JSON in `config.data` which contains all the key value pairs. `row: Row` only includes the cells rende

[2020-12-02 15:18] lrpatterson opened #353 "Site Examples Broken and Plugins Not Rendering"
**Describe the bug**
When I try to add a custom plugin it never renders to `PluginPosition.Header` location.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://codepen.io/Lrpatterson89/pen/jOMbaeb'
2. You should see that the plugin does not render `Hello world!`

**Expected behavior**
I expect the word `Hello world!` to render to the header position

**Additional context**
I also

[2020-12-02 21:20] afshinm commented on #269
I see. Yeah I can look in to that. I'm not entirely sure if the pagination buttons can accept HTML for their label.

[2020-12-02 21:22] afshinm commented on #353
Yep, sorry about that. Looks like I have to update the docs. The correct usage is:

[code]

[2020-12-02 21:31] afshinm commented on #353
Just updated the docs as well. Thanks for the heads up @lrpatterson

[2020-12-02 21:31] #353 closed

[2020-12-02 21:34] afshinm commented on #348
@sehwol the `row` parameter should already have the key value you need. simply run `row.cells()` to get all the cells or `row.cell(2)` to get the 3rd cell of that row, see https://github.com/grid-js/gridjs/blob/master/packages/gridjs/src/row.ts#L18-L20

[2020-12-02 21:34] #348 closed

[2020-12-02 21:34] afshinm commented on #345
Thanks for the report @Thimows. I can work on that.

[2020-12-02 21:37] afshinm commented on #338
Thanks @xguerin.

[2020-12-02 21:38] #338 closed

[2020-12-02 21:38] afshinm commented on #335
That's a good point @anmar-dev and thanks for the suggestion.

[2020-12-02 21:39] afshinm commented on #329
I can look into that @viliamzigo. thanks for flagging.

[2020-12-02 21:40] afshinm commented on #328
Good suggestion @andresfdel17. The current page size is static https://gridjs.io/docs/config/pagination. I can work on adding that feature.

[2020-12-02 21:41] afshinm commented on #311
@systemcrash you can disable the `audoWidth` flag to achieve that https://gridjs.io/docs/config/autoWidth/

[2020-12-02 21:41] #311 closed

[2020-12-07 14:42] TomasWeg opened #357 "Access StorageResponse from plugin"
Im trying to modify Gridjs to implement a new feature
But i need to access StorageResponse from Pagination.tsx
Is there any way?
I added a new prop to StorageResponse which is "hasNextPage":
[code]
And implemented in server.ts:

[code]
But now I need to access that property from pagination.tsx and from componentWillMount:
[code]

But what can i see is that pagination plugin only needs the total pr

[2020-12-07 19:50] #357 closed

[2020-12-08 19:34] erceamet opened #360 "Dark Mode & coloring data"
Hello,

I would like to be able to change the colour of the whole table. So far I only managed to change the colour of the table header (I am using React for this). I have attempted to set a colour for the td or the whole table but nothing much has changed. Unless I am doing something wrong.

I would also like to be able to dynamically set a colour for some of the data in the table. For example, i

[2020-12-08 19:46] afshinm commented on #360
hey @erceamet. yeah I have been working on this feature for a while but it's not released yet. I will hopefully release it in the next few days.

[2020-12-08 20:53] erceamet commented on #360
Thank you for your quick reply. May I ask which feature you're talking about? Is it the dark mode?
I have attempted to change the colors on the gridjs.io and this is what I get
![image](https://user-images.githubusercontent.com/33298952/101539794-fac4a100-3996-11eb-9b5e-abd5b1b106d5.png)
It seems that it's only changing the color of the even rows (if that makes sense). I do understand this is not

[2020-12-08 20:55] afshinm commented on #360
That seems like the default CSS style for table rows on gridjs.io website (i.e it's not Grid.js CSS)

[2020-12-08 20:57] afshinm commented on #360
You can use these CSS class / style configs for td/th though: https://github.com/grid-js/gridjs/blob/master/packages/gridjs/src/config.ts#L56-L71

[2020-12-08 21:08] erceamet commented on #360
ah okay got it

I will rather wait for the feature release as I am not quite sure how that would work. But thank you for your time.

[2020-12-08 22:01] erceamet commented on #360
Managed to solve the problems. Both the colouring of the td and dynamically colouring the table content. Solved based on this: https://gridjs.io/docs/examples/stock-market

I am leaving the code below in case anyone has the same problems as me.

[code]

Final outcome
![image](https://user-images.githubusercontent.com/33298952/101546305-7f67ed00-39a0-11eb-85c7-53ceddcb0ea4.png)

I didn't manage to

[2020-12-08 22:01] #360 closed

[2020-12-08 22:18] afshinm commented on #360
Awesome! thanks

[2020-12-22 12:34] aronmi commented on #345
@afshinm i think this one can be closed since #363 is merged.

[2020-12-30 20:49] taewookim opened #375 "Search multiple columns (with ability to choose and/or logic)"
Like this:

https://datatables.net/examples/api/multi_filter.html

[2021-01-01 09:48] afshinm commented on #375
thanks @taewookim. Added to the backlog.

[2021-01-01 09:48] #345 closed

[2021-01-04 00:23] iamyuu commented on #202
If anyone wants to use with svelte, [here](https://codesandbox.io/s/grids-svelte-example-t9vx1?file=/gridjs.svelte) I created a simple implementation.

Btw, maybe I can help to create a Svelte wrapper

[2021-01-14 10:50] hubertzawada opened #391 "Nested JSON problem"
Hi,

I have nested JSON which I can't show via grid.js

[code]

I tried like this:
[code]

I figure out that is because values in "orders" are in [ ], but data comes from API, so I cannot modify it. Can you help me with this?

Regards,
Hubert

[2021-01-14 11:53] iamyuu commented on #202
https://npm.im/gridjs-svelte

[2021-01-14 13:00] afshinm commented on #202
This is great @iamyuu! thanks for sharing the link.

I'm happy to add it to the list of supported wrappers. Can you create a new page here: https://github.com/grid-js/website/tree/master/docs/integrations?

[2021-01-15 10:01] afshinm commented on #391
Do you need to load the entire JSON though? it feels like you want to create a table for the `orders` array. In this case, simply pass the `orders` array directly to Grid.js instead of selecting the rows in the `data` callback.

[2021-01-15 10:22] hubertzawada commented on #391
Thanks for quick reply. I confirm that I need only data from orders array. How to pass only orders array? I can't modify JSON, because it is a response from external API.

[2021-01-15 11:24] afshinm commented on #391
You can use the `then` callback in the `server` section to filter your data and pass the `orders` array to Gridjs, example: https://gridjs.io/docs/examples/server

[2021-01-15 11:24] #391 closed

[2021-01-17 17:17] zerotrac opened #394 "Incorrect display when making an unsuccessful search while some columns are hidden"
**Describe the bug**

When some columns are hidden and we try to make an unsuccessful search (i.e. "No matching records found"), the columns will display incorrectly.

**To Reproduce**
1. Go to [Basic - Search](https://gridjs.io/docs/examples/search) and make use of the first sample code.
2. Modify the columns code to `columns: ['Name', {name: 'Email', hidden: true}, 'Phone Number'],` in order to

[2021-01-21 22:15] UserSina opened #401 "Using an custom component for the search placeholder"
I have the following using react:

[code]

**I'd like to use a custom component instead of a string as a placeholder:**
[code]

**Additional context**
If possible, I'd like to be able to customize the whole div that contains the search bar to be able to achieve something like this:

![gridjs](https://user-images.githubusercontent.com/44204957/105419038-5d6bb680-5c3e-11eb-97a0-c258407332b2.jpg)

[2021-01-22 15:22] goellner opened #402 "Method for filtering the table"
**Is your feature request related to a problem? Please describe.**
It would be great to have a filter functionality like this example: http://tabulator.info/docs/4.9/filter
In my current case I need to add a filter for a daterange, which could be done by creating a custom plugin for gridjs. However I am using the vuejs version and can't access the grid instance. Therefore I am creating this FR, as

[2021-01-23 22:24] afshinm commented on #394
I will send a patch asap.

[2021-01-23 22:27] afshinm commented on #401
@UserSina `placeholder` attribute can be a string only, see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#htmlattrdefplaceholder

You can also use custom CSS rules to move the search layer (e.g. using `float: right` or `flex`).

[2021-01-23 22:27] #401 closed

[2021-01-23 22:29] afshinm commented on #402
Thanks @goellner

This is something that I'm currently working on. I'm hoping to send a PR soon.

[2021-01-26 14:29] goellner opened #405 "Add class to th and td"
**Is your feature request related to a problem? Please describe.**
It would be great to add a custom class per column basis, to add something like `text-right` to columns, to that the` th` and `td` are right aligned.

**Describe the solution you'd like**
Custom setting for columns, to add a class to `th` and `td` of a column.

**Describe alternatives you've considered**
I have tried the `attribute

[2021-01-27 17:52] nagavardhanraju opened #407 "Example for PluginPosition.Cell"
Can anybody please share an example for `PluginPosition.Cell`?

[2021-02-01 12:24] mizushino opened #411 "Add "tr" in className"
I want to have "tr" in className of config.
Is there a reason not to implement it?

[2021-02-04 09:55] wanlwanl opened #414 "Plugin disappear after forceRender"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. add plugin from https://gridjs.io/docs/plugin/writing-plugin
2. render a table
3. force render https://gridjs.io/docs/examples/force-render

**Expected behavior**
A clear and concise description of what you expected to happen.

display `Hello World!` after force render

**

[2021-02-04 10:21] wanlwanl commented on #414
[code]
works, but the state inside my pulgin get reset

[2021-02-05 04:28] #414 closed

[2021-02-06 19:13] Elcaten commented on #348
Let's say I init the grid using the following config:

[code]

Upon clicking on the `log` button I will receive the following `console.log` output:

[code]
As you can see, there is no way of accessing row data using `'name'` and `'email'` keys I used in column definitions.
I'm thus forced to using indexes to access cells datum, which is prone to errors.
Is there any workaround? Thanks!

[2021-02-07 13:02] afshinm commented on #407
The Row Selection plugin is a Cell plugin: https://gridjs.io/docs/examples/row-selection

(this line https://github.com/grid-js/gridjs/blob/4e5e6a3482a25644c89e3dc1ffde1c1a13ad7dea/packages/gridjs/src/header.ts#L189 finds all cell plugins and renders a virtual cell using that plugin)

[2021-02-07 13:02] #407 closed

[2021-02-07 16:43] #405 closed

[2021-02-07 16:58] #411 closed

[2021-02-07 17:24] afshinm commented on #414
@wanlwanl did you find a solution for this?

[2021-02-07 17:25] afshinm commented on #405
@goellner `column.attributes` is added to `th` as well. You can use this function to add custom classNames to your elements. See this example as well: https://gridjs.io/docs/examples/cell-attributes

[2021-02-07 18:19] goellner commented on #394
can I help here somehow?

[2021-02-11 13:22] oktapascal opened #422 "How to custome loading in server side render ?"
How do I customize loading while data is being loaded from the server? in the documentation I couldn't find it. If you provide a solution, I really appreciate it.

[2021-02-11 18:43] imjulioc opened #423 "Access whole data list when pagination and server are enabled"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

When configuring `{server: {enabled: true}, pagination: {enabled: true}}` then `this.config.pipeline.process()` only returns a thenable with the current pipeline (more like data displayed on the current table page).

If possible, it would be nice to be able to get the whole data list. That

[2021-02-12 16:55] bmoore27 commented on #45
Is there any documentation for this feature?

[2021-02-14 14:31] sun-jinxing opened #425 "Does gridjs support resizable and draggable columns and cell editing?"
**Is your feature request related to a problem? Please describe.**
Does gridjs plan to support the following functions?
1.resizable columns
2.draggable columns
3.cell editing
Please see the link below.
http://tabulator.info/docs/4.9/edit

[2021-02-15 08:40] antennix opened #427 "The scroll position is reset by adding data"
**Describe the bug**
The scroll position is reset by adding data

**To Reproduce**
Steps to reproduce the behavior:
1.`fixedHeader:true`,and make the data scrollable
2.Scroll vertically to the middle
3.append data and re-render
4.scroll position moves to the top

**Expected behavior**
I want to keep the scroll position, but it moves to the top

looking for a nice solution, is there a good way?

[2021-02-15 14:10] goellner commented on #394
sorry to question about this again, but is there any chance, that a fix could be implemented this week? I tried to get this running locally, but have no idea how to set up a test environment locally which includes the local package.

[2021-02-21 20:23] mrpsiho commented on #425
Hi!

I also wanted to ask for cell editing functionality.
Thanks!

[2021-02-23 01:38] BenitoJedai opened #434 "Dynamically hidden columns"
Hi sir how i can hidde dynamically columns ? Thanks

[2021-02-24 03:02] greeven opened #436 "Sort order for first click on column header"
**Is your feature request related to a problem? Please describe.**
I have a table with multiple columns where I'm interested in the different columns sorted in descending order.

Problem is that while clicking through those columns, I always have to click twice on the column header because the first click orders the data in ascending order first and on second click in descending order.

**Describe

[2021-03-04 23:30] SukkaW commented on #329
Is the issue being worked on? I am facing the same issue here.

[2021-03-08 00:42] BenitoJedai opened #441 "Layout"
Hi this is a question about how i can create a custom views witj gridjs like cardview and table mode i can do this in gridjs without change the core only gridjs.html or gridjs.h thanks sir

[2021-03-11 19:39] bl4ckck commented on #75
@afshinm how to override the default style? in example I want to override this

[code]
with custom className

[code]

[2021-03-12 16:33] shanmukhateja opened #451 "Dynamic "Sr. No" like column?"
**Is your feature request related to a problem? Please describe.**
It would be wonderful to have a dynamic "Sr. No" column for tabular data. I work with lots of tabular content using pagination and it would really help if there was a way to have a **dynamically generated** index column as the first column of the table.

**Describe the solution you'd like**
[code]

**Describe alternatives you've co

[2021-03-13 10:57] afshinm commented on #451
This feature is not something that Grid.js should provide but it's very straightforward to achieve using a Row Formatter function and keeping an internal counter, https://gridjs.io/docs/examples/cell-formatting

[2021-03-13 10:57] #451 closed

[2021-03-13 10:59] afshinm commented on #441
Yes @BenitoJedai, you should be able to use `gridjs.html(...)` to add a card view to your table. https://gridjs.io/docs/examples/html-cells

[2021-03-13 10:59] #441 closed

[2021-03-13 10:59] afshinm commented on #434
You can update your config and then call `forceUpdate()` to update your Grid.js instance.

[2021-03-13 10:59] #434 closed

[2021-03-13 11:02] afshinm commented on #427
I see. when you re-render your Grid.js, it basically removes all existing elements on the page and creates new ones. That's why your scroll position resets after `forceUpdate()`.

If you only need to add new rows to your table, I can work on a new function to update the internal datasource only.

[2021-03-13 11:02] afshinm commented on #425
Not yet unfortunately, but I'm happy to work on it.

[2021-03-13 11:08] afshinm commented on #423
@imjulioc I'm not quite sure what "whole dataset" means when you have enabled the server-side features. Grid.js always pulls the rows that are required to render the current viewport (i.e if you are on page 1 with 10 records, only the first 10 records will be fetched from your server-side backend).

Because of this lazy-loading behavior, Grid.js doesn't know anything about your entire dataset whic

[2021-03-13 11:08] afshinm commented on #423
But you can always skip the pipeline and interact with your underlying store directly, e.g. `gridjs_instance.config.storage...`: https://github.com/grid-js/gridjs/blob/master/packages/gridjs/src/storage/server.ts

[2021-03-13 11:09] afshinm commented on #422
Sure, I can update the docs.

[2021-03-13 11:21] afshinm commented on #394
Apologies for the delay everyone. I have been dealing with some personal issues since a few weeks ago.

I just pushed this change https://github.com/grid-js/gridjs/commit/1f8f3a8bbbf4fbf8dda49377ad1f00c529560e90 which should fix the bug. A new version will be released today.

[2021-03-13 11:21] #394 closed

[2021-03-13 11:23] afshinm commented on #329
I will send a patch today. thanks for flagging @SukkaW

[2021-03-13 12:24] strboul opened #453 "Row expansion feature"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
When a user clicks on a row or on a button in a row in a table, the table can expand right away to display a subtable which it is completely different than the parent table. Both tables should be grid.js tables.

**Describe alternatives you've considered**
I thought I could achieve this by

[2021-03-13 16:50] afshinm commented on #329
This commit should address this issue https://github.com/grid-js/gridjs/commit/d2df219c8b7981ff6958c1a2c5f7577c9bb6d532

[2021-03-13 16:50] #329 closed

[2021-03-13 18:10] planodan opened #454 "grid.js"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-13 18:24] #454 closed

[2021-03-13 21:18] igoro00 opened #455 "Manually set loading status"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
I'd like to be able to set loading state manually with something like `loading={true}`(in React at least). It'd allow me to download data independently of the UI and just switch a flag when it's done.

**Describe alternatives you've considered**
I thought of returning a Promise that never re

[2021-03-14 01:48] imjulioc commented on #423
Hi @afshinm, First off, thank you for the time you took to answer.
I made a mistake, mentioning the server option, I really just wanted to know how to avoid the pipeline. Glad to see you still understood what I was trying to ask. Again, sorry for the mistake and thanks!.> server

[2021-03-14 01:48] #423 closed

[2021-03-14 04:24] rouilj opened #456 "Supporting a table with grouping headers."
It is not clear that grid-js can handle the following use case.
I have existing tables that include a header for common properties (group header). All items with that common property
are grouped together under that header row. For example:

<img width="737" alt="table_with_groups" src="https://user-images.githubusercontent.com/3751752/111057031-3bc6c880-8452-11eb-884e-55246efc4a8e.png">

When sort

[2021-03-17 19:17] ubergeoff opened #465 "Example for Angular formatters"
**Proposal and/or example for future Angular GridJS custom formatter columns**
Ability to add Custom Angular components as "formatter"

**Please see my proposed solution/example**

[code]

And the `createDivContainer` function:

[code]

Would this be considered a good practice..?

Are there any further enhancement that can be applied to the above example..?

[2021-03-18 17:00] ubergeoff commented on #465
DEMO here: https://www.flingo.co.za/grid/dashboard1

[2021-03-18 17:08] ubergeoff commented on #455
Instead of returning a promise that never resolves.

Why not resolve the Promise once you have your data.

EXAMPLE:

[code]

And then at some point later in time - when your data resolves:

[code]

Does this help..?

[2021-03-18 17:11] ubergeoff commented on #455
But yes - it would be even more helpful if there was some sort of flag/property that we could set to we could manage the loading state outselves....

[2021-03-19 06:40] kozi opened #468 "Infinite Scrolling as Alternative to Pagination"
It would be great to have the option to use
**`infinite scrolling`** instead of displaying pages.
As soon as the user approaches the bottom of the
list by scrolling, entries should be reloaded automatically.

[2021-03-21 02:06] lofcz opened #470 "JS in gridjs.html"
**Is your feature request related to a problem? Please describe.**
Currently gridjs.html does not support <script> tags, hence `gridjs.html("<script>alert(1)</script>")` does nothing.

**Describe the solution you'd like**
gridjs.html would support inner <script> tags to execute JS. Often it is useful to exec JS code on cells, for example to initialize tooltips, etc.

**Describe alternatives you've

[2021-03-26 14:28] zacharyarrington opened #476 "event.ts Tip link is broken"
I receive a 404 when I click on the Green tip bar on the bottom of this page --  https://gridjs.io/docs/examples/event-handler

Cannot see the different events

[2021-03-26 14:29] zacharyarrington commented on #476
https://github.com/grid-js/gridjs/blob/master/src/events.ts

[2021-03-28 11:23] afshinm commented on #476
The correct link is https://github.com/grid-js/gridjs/blob/master/packages/gridjs/src/events.ts -- I will update that page.

[2021-03-28 11:23] #476 closed

[2021-03-28 11:30] afshinm commented on #470
It should be possible. See https://codesandbox.io/s/gridjs-js-in-cells-6p9bw?file=/src/index.js

[2021-03-28 11:30] #470 closed

[2021-03-28 11:31] afshinm commented on #468
Yeah, makes sense. adding to the backlog.

[2021-03-28 11:34] afshinm commented on #465
Thanks for the question and your demo @ubergeoff -- your solution makes sense to me. I don't really have any suggestions to improve your existing solution.

[2021-03-28 11:34] #465 closed

[2021-03-28 11:35] afshinm commented on #465
I think it's a good idea to add this to our examples on gridjs.io.

[2021-03-28 11:36] afshinm commented on #456
@rouilj have you seen this example https://gridjs.io/docs/examples/nested-header?

[2021-03-28 11:36] #456 closed

[2021-03-28 11:37] afshinm commented on #455
I agree with @ubergeoff that you can return a Promise object and resolve it when your data is ready. When the Promise object is in pending state, Grid.js renders the loading bar. Does that make sense?

[2021-03-28 11:37] #455 closed

[2021-03-28 14:30] rouilj commented on #456
I did. Sorry, I should have mentioned that I had seen the example.

There are two things that don't match up with my use case.

  1) In the example the primary and secondary headers (name, first/last) are all at the top of the table. In my use
      case grouping headers are in the middle of the table.
  2) In the example the secondary headers are underneath a main header (e.g. name has subheads o

[2021-03-29 02:42] shipherd commented on #425
Add it please! Add the editing functionality. It is better if the option of exporting to excel can be provided. :)

[2021-03-29 09:02] afshinm commented on #295
I tried a couple of things, this solution in particular: https://lea.verou.me/2012/04/background-attachment-local/ but not sure why it didn't work with `gridjs-wrapper` layer -- I think this issue only exist on mobile devices and not desktop?

PR welcome.

[2021-03-29 09:08] afshinm commented on #236
I believe this issue has been fixed. Please let me know if anyone has this issue.

[2021-03-29 09:08] #236 closed

[2021-04-05 19:10] LebCit opened #485 "get currentPage"
First of all thank you very much for this AWESOME JS grid ❤

**Is your feature request related to a problem? Please describe.**
Is it possible to retrieve the actual page (class="gridjs-currentPage") and display it after rendering ?

**Describe the solution you'd like**
It would be a nice option if we are on page X and after editing an item and rendering the grid to be able to get on the page X to

[2021-04-14 12:42] LightwithoutLisonlyight opened #494 "Only a question about Internationalization"
Hello,
Which is the key name to translate "no matching records found" ?
Thanks ❤️

P.S.
Is this library tree-shakable ?

[2021-04-14 14:29] LightwithoutLisonlyight commented on #494
Hi, found answer at https://github.com/grid-js/gridjs/blob/master/packages/gridjs/src/i18n/en_US.ts

Note: the website's link at (https://gridjs.io/docs/examples/i18n) is broken 😉

[code]
P.S.
Is this library tree-shakable ?

[2021-04-14 14:31] #494 closed

[2021-04-18 19:45] pcambra opened #499 "When instanciating gridjs from existing table, data should be modifiable"
**Is your feature request related to a problem? Please describe.**

I've been implementing the jQuery version of the library with something like:

`var grid = $("table#mytable").Grid(options);`

And that has worked wonderfully until I needed to add some filters to the data, I tried all the options in the documentation, i.e. https://gridjs.io/docs/examples/import-function, but it seems that when lo

[2021-04-19 18:51] pcambra opened #501 "Number of results per page"
**Is your feature request related to a problem? Please describe.**
It would be very handy to expose to the user the number of results per page that are displayed

**Describe the solution you'd like**
A configurable list of number of results (i.e. 6/12/24) that would be displayed on the gridjs header next to the search input.

[2021-04-20 12:36] LightwithoutLisonlyight opened #502 "React rowClick Event"
I want use a global event 'rowClick' with gridjs-react and on the docs I can't found a "react version" of this feature.
Please help.

I would also like to pass an entire json object to each table row but only render some keys of it in the cells. When I click on some row I want the whole object returned to me as I initially passed it, without the default formatting

[code]

So if I pass an object l

[2021-04-20 12:43] LightwithoutLisonlyight commented on #501
Hi,
That's cool, but I think that you're asking for the same feature of this one:
https://github.com/grid-js/gridjs/issues/328

If I guessed, please close the issue, this way we can help the creator in the problem solving process

[2021-04-20 12:50] pcambra commented on #501
Ah it's related but I guess this is more about having the pagination exposed, I'm closing this one and adding the remark int that one, thanks!

[2021-04-20 12:50] #501 closed

[2021-04-20 12:52] pcambra commented on #328
It'd be also great if that setting was able to be exposed close to the search input :)

[2021-04-20 15:53] banshiAnton commented on #236
Hi @afshinm i have faced with this issue

page 1
![1](https://user-images.githubusercontent.com/20343723/115425933-bb417780-a208-11eb-8255-8a72971f06d9.png)
and when i go to page 2
![2](https://user-images.githubusercontent.com/20343723/115425950-c0062b80-a208-11eb-89b6-64ddbe653e53.png)

so i think we need to recalculate column widths after each pagination page changes
i forked you lib and add so

[2021-04-21 07:51] afshinm commented on #236
@banshiAnton interesting. Grid.js calculates the widths only once and only for the first page. It assumes you have more or less the same data for the next pages as well. I can see that we having an option to calculate the width after each page could be useful and can fix your issue as well.

Could you open another GitHub issue and mention the details of this feature (+ screenshots)? I'm happy to w

[2021-04-21 11:39] banshiAnton commented on #236
Of course, thank for quick reply

[2021-04-27 03:20] vittoh opened #524 "Pagination don't work with server side search"
implement pagination and search pointing to the url of the server, but when I get the search data, the pagination concating &?page that causes an error for the next page.

**http://localhost:8000/api/ubicaciones/location_list/?store=1114&?page=1**

I need to replace **"?page"** with **"page"**

somehow?

![image](https://user-images.githubusercontent.com/18142739/116178965-6f993d00-a6e4-11eb-8fa7-

[2021-04-29 10:05] banshiAnton opened #527 "incorrect resize on change page/sorting direction"
Hi @afshinm, you ask me to create new issue https://github.com/grid-js/gridjs/issues/236#issuecomment-823394837

need to calculate column width on each change change page/sorting direction, not once
because to different data on each page
Example
page 1
![1](https://user-images.githubusercontent.com/20343723/116534315-09cad200-a8eb-11eb-8e05-9eaa99a210f9.png)
on this page email is empty
and then go

[2021-04-30 08:33] lamilsage commented on #502
Hi @LightwithoutLisonlyight ,

I needed the exact same feature and found a way to do it.

I created a plugin that display nothing but listen to rowClick event then raised the event

`class GridRowSelection extends BaseComponent<Props, State> {
    constructor(props: Props, context: any) {
        super(props, context);
        this.state = {
            lastEvent: ""
        };
        this.onRowC

[2021-05-02 10:19] LightwithoutLisonlyight commented on #502
Hi @lamilsage you really helped me...my problem's root was how to bind a plugin to the react wrapper.
Thanks a lot, I really appreciated your help. 🤗

[2021-05-02 10:55] #502 closed

[2021-05-03 07:39] afshinm commented on #485
@LebCit so you basically want to initiate the pagination module with a specific page? (e.g assuming you grid has 5 pages, you want to start it on page 3, not page 1 which is the default).

[2021-05-03 07:42] afshinm commented on #499
@pcambra got it. could you create an online demo for me please (on jsfiddle, codesandbox, etc).

[2021-05-03 07:46] afshinm commented on #524
This question is more about string manipulation in JavaScript. You can either do a string replace or use an actual URL builder lib (e.g https://developer.mozilla.org/en-US/docs/Web/API/URLSearchParams) and append your search params to the URL object (and pass the string to Grid.js).

[2021-05-03 07:46] #524 closed

[2021-05-03 08:01] afshinm commented on #527
Thanks @banshiAnton

[2021-05-06 21:59] Thimows opened #542 "Column Names Get Cut Off When Sorting Is Enabled"
When the length of the column name is longer than the content of the cells in the column, the column name will be cut off when sorting is enabled. It looks like that the column does not stretch to fit the column name and the sorting button.

Image:
<img width="780" alt=" 2021-05-05 om 16 22 30" src="https://user-images.githubusercontent.com/62159496/117370605-e8f41500-aec6-11eb-87c6-1007f9adf1a4.p

[2021-05-07 09:04] Symediane opened #543 "tree"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-05-08 13:32] frederikhors opened #545 "Change Preact for Svelte?"
The work you have done on this project leaves you speechless with wonder.

I was wondering if instead of using Preact (which is a VDOM with non-compiled library) you had thought of using [Svelte](https://svelte.dev/) (which is without VDOM and would allow you to compile ad-hoc, therefore smaller size and more speed)?

[2021-05-08 13:40] afshinm commented on #545
Thank you @frederikhors.

I haven't looked into Svelte and I don't know much about it but that would require changing some core parts of Grid.js. I initially developed Grid.js assuming that Preact will be the rendering template and therefore changing that part is not a trivial task. But I appreciate your suggestion, this is something that we can look into in the future.

[2021-05-08 13:40] #545 closed

[2021-05-08 13:41] #543 closed

[2021-05-08 13:46] afshinm commented on #542
Thanks @Thimows.

Grid.js calculates the columns width based on the width of the container (container is the element you pass to the `render()` function). I don't think this is a bug as you can explicitly set the column width and solve this issue (or resize your container to fill all columns) but I'm happy to test this a bit more and potentially add a different way of calculating the widths.

[2021-05-08 19:50] Thimows commented on #542
Yes, there are definitely workarounds for this particular issue. It would help me very much though if this was automatically handled by the plugin (as I use the auto width feature). Calculating the width for each column myself does unfortunately not work with my integration. When sorting gets disabled, the column names don't get cut off anymore. If it would be possible to have the column expand ju

[2021-05-13 08:57] postblue opened #550 "新增固定列的功能和树形功能"
新增固定列的功能，可以固定到左侧和右侧。
新增树形功能，行可以展开，像一棵树一样展示

[2021-05-13 12:20] mike-seekwell commented on #402
@afshinm did you submit the PR? Can I help?

[2021-05-19 00:28] beetcb opened #560 "The row button style depends on tailwind to work"
**Describe the bug**
I followed the documentation along the way, there is no mention of the need to import additional tailwindcss.

**To Reproduce**
Steps to reproduce the behavior:
Just follow the docs example: https://gridjs.io/docs/examples/row-buttons

Here you use tailwind ( Maybe it is a good idea to demonstrate about the external css  ？ )
[code]

[2021-05-20 09:02] FrankApiyo opened #564 "How to pass credentials for Import server-side data"
**Is your feature request related to a problem? Please describe.**

Hey, we just started using  grid.js  in re-frame, Curious when importing data from a remote source how do you pass credentials such as a temp token to the headers or basic auth.
This is how my code looks like:
[code]

**Additional context**
I've looked at the documentation on remote data binding and couldn't find anything on authe

[2021-05-20 09:13] FrankApiyo commented on #564
found an answer here https://gridjs.io/docs/config/server/

[2021-05-20 09:13] #564 closed

[2021-05-20 17:25] rohithkumar001 opened #565 "GridJsConfig is not found"
when i add this code in my app.component.ts
`import { GridJsConfig } from "gridjs-angular";`

an error comes GridJsConfig is not found in gridjs-angular.
I'm using Angular 10
https://github.com/grid-js/gridjs-angular/issues/89
Here is another similar issue

[2021-05-22 10:31] azlkiniue commented on #414
Hello @wanlwanl
I have the exact same problem, could you please explain how to fix that?

[2021-05-22 23:22] salamaashoush commented on #565
this is a duplicate you can close it, I already explained how to fix it there https://github.com/grid-js/gridjs-angular/issues/89,

[2021-05-23 05:45] rohithkumar001 commented on #565
okay, Thank you!

[2021-05-23 05:45] #565 closed

[2021-05-23 17:53] #422 closed

[2021-05-23 17:53] #427 closed

[2021-05-28 04:03] origin2821 opened #572 "posData with filter function with gridjs"
**I am coding for filter function in Grid. I want to pass an object with name, departmentId, positionId to the control file, but I don't see any way but like so:**

I feel I want to ask is there a way to upload in this format:
``
postData: {
    name: name,
    departmentId: departmentId,
    positionId: positionId
}
``
and just return `${prev}.`

[2021-06-05 09:36] #550 closed

[2021-06-05 09:37] afshinm commented on #560
I'm not quite sure if I understand this issue. Grid.js does not depend on Tailwind (or any other libs). Your button should work even if you remove the `className` attribute.

[2021-06-05 09:37] #560 closed

[2021-06-05 09:39] afshinm commented on #572
You can use the `body` config to send your data, see: https://gridjs.io/docs/config/server

[2021-06-05 09:39] #572 closed

[2021-06-05 14:47] beetcb commented on #560
@afshinm
Sorry to bother you, but when I actually use it, the button style is indeed different from the sample, so if you could please take a look at the code and tell me what's wrong, I would be very grateful.

[Here is the demo for reproducing](https://codepen.io/beetcb/pen/VwpxbBB)

It shoud be:

![image](https://user-images.githubusercontent.com/63141491/120895383-48bd1780-c64f-11eb-9029-bdb9d

[2021-06-06 17:11] afshinm commented on #560
@beetcb this is just a styling issue. When you say "is indeed different from the **example**" do you mean the examples on gridjs.io? We use TailwindUI on gridjs.io (the Grid.js website/doc) but that functionality is not available on Grid.js (the Grid.js library). You need to manually include the Tailwind CSS to fix that.

[2021-06-06 22:28] beetcb commented on #560
Yes, this is exactly what I meant, and I suggest you specify this condition in the documentation if possible.

Thank you for the answer!  @afshinm

[2021-06-06 22:32] afshinm commented on #560
Makes sense! thanks.

[2021-06-07 04:51] wanlwanl opened #597 "Width of table is much smaller than header/footer when no data is provided"
**Describe the bug**
table has small width when no data if you set `resizable: true`

**To Reproduce**
Steps to reproduce the behavior:
1. use this code (empty for `data`):
[code]

**Expected behavior**

table has the same width as footer/header when no data

**Screenshots**
notice that footer is 100% width, while the table is not.
![image](https://user-images.githubusercontent.com/38236089/120960

[2021-06-08 08:03] afshinm commented on #597
I see. Grid.js calculate the table width based on the columns data. What you need in this case is a custom `width` for each column. Is this acceptable for you?

[2021-06-08 08:05] afshinm opened #605 "updating contributors"

[2021-06-08 08:09] afshinm commented on #605
@all-contributors please add @daniel-werner for plugin

[2021-06-08 08:10] afshinm commented on #605
@all-contributors please add @salamaashoush for plugin

[2021-06-08 08:13] #605 closed

[2021-06-08 10:43] wanlwanl commented on #414
@azlkiniue @afshinm
you need to add your own plugin (do not add built-in plugin like `search`, `pagination`) again in `updateConfig`, even they are not changed.
e.g.
[code]

[2021-06-08 10:49] wanlwanl commented on #597
oh, I found a workaround:
[code]

[2021-06-08 10:52] wanlwanl commented on #597
I found another problem:
initial:
![image](https://user-images.githubusercontent.com/38236089/121172587-7215b780-c88a-11eb-932b-0e27aa39a53a.png)

if I resize col `a` to make it has smaller width, the col `b` cannot take the rest of the row:
![image](https://user-images.githubusercontent.com/38236089/121172769-a0939280-c88a-11eb-956f-dbfb96ea3395.png)

Is this by design?

[2021-06-08 20:04] afshinm commented on #597
I guess that's because your table width is set to  `100%` which is the default width. For instance, set `width: 500` in your main config and see if it helps, e.g:

[code]

[2021-06-09 15:49] i-am-al-x opened #609 "unexpected large file size (8x) at "unpkg.com" today June 9 2021"
**Describe the bug**
The file sizes at "unpkg.com" are unexpectedly large.  For example gridjs.js" is 511K.
I noticed this yesterday, June 8, 2021.  The problem persists today, June 9.

**To Reproduce**
Steps to reproduce the behavior:

    $ curl -o gridjs.js https://unpkg.com/browse/gridjs@5.0.1/dist/gridjs.js
      % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current

[2021-06-09 18:32] afshinm commented on #609
@i-am-al-x thanks for flagging. I will take a look asap

[2021-06-09 18:37] afshinm commented on #609
I just ran a diff locally and both https://unpkg.com/gridjs@5.0.1/dist/gridjs.js and https://cdn.jsdelivr.net/npm/gridjs@5.0.1/dist/gridjs.js are identical.

I believe in your first curl you wanted to request:

 - https://unpkg.com/gridjs@5.0.1/dist/gridjs.js // <-- correct
 - https://unpkg.com/browse/gridjs@5.0.1/dist/gridjs.js // <-- incorrect

[2021-06-09 20:14] i-am-al-x commented on #609
OK, well that explains something.  I can confirm that I took the files from
"browse".
Am I the first person to make this mistake?
Thanks for looking into this.

On Wed, 9 Jun 2021 at 13:38, Afshin Mehrabani ***@***.***>
wrote:

[2021-06-09 21:14] #609 closed

[2021-06-11 08:12] benwoodward commented on #44
Here's a working graphql config for anyone stuck with this. Caveat: you need to set up a graphql endpoint/query that receives `first: Int!, offset: Int!, keyword: Int!` for this to work. Using separate endpoints for search and pagination makes the problem 10x harder to solve.

[code]

[2021-06-12 14:18] origin2821 opened #614 "Reset Page On Update"
I don't want reset page on update. Specifically when using forceUpdate() , I want my grid to only update the data in the table, keeping the current page. For example, I'm on the 2nd page, then i add data to the table. I want after adding data and reload the table I am still on the 2nd page.
[code]
I see in pagination there is "resetPageOnUpdate" attribute butBut when i use forceUpdate() it doesn't

[2021-06-15 06:53] Eli-Schei opened #623 "Get error with find parameters when trying to install v.5"
**Describe the bug**
I try yo run `npm install gridjs --save` but get the following error

[code]

**To Reproduce**
Not sure if it has anything to do with it, but I'm on node v14.15.0

**Expected behavior**
Would expect it to install.
I ran `npm install gridjs@4.0.0 --save` and it installed that version without problems

**Desktop (please complete the following information):**
 - OS: Windows 10
 -

[2021-06-15 08:32] wanlwanl opened #624 "feature to use external search package for a custom search for `config.data`"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I try to use an external search package for a custom search for `config.data`. Need to transform the data to the format that the external search package needed.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Need a way to override of `search` operation.
T

[2021-06-15 08:35] wanlwanl commented on #597
I still need to use 100% since there are too many columns...

[2021-06-15 18:40] afshinm commented on #623
This is because you are using Windows and the `find` syntax is not compatible https://github.com/grid-js/gridjs/blob/master/package.json#L102 -- I will submit a patch asap

[2021-06-15 19:04] #623 closed

[2021-06-15 19:08] afshinm commented on #623
@Eli-Schei just published 5.0.2. could you try and install this version please?

[2021-06-15 19:14] Eli-Schei commented on #623
It worked now! Thanks for the quick fix :)
![image](https://user-images.githubusercontent.com/60283283/122110247-9c351f80-ce1e-11eb-8e5d-59321bcb95aa.png)

[2021-06-15 23:21] wallind commented on #623
[code]

I had the same problem on Windows 10 at `5.0.1` and `5.0.2` **fixed it for me!**. Thank you so much @afshinm. 😄

[2021-06-16 12:10] afshinm commented on #623
@wallind \o/

[2021-06-18 06:44] afshinm commented on #624
@wanlwanl got it. so you want to implement and replace your own search function?

[2021-06-18 06:48] wanlwanl commented on #624
@afshinm
Yes.

[2021-06-18 06:48] afshinm commented on #624
OK I can look into that. Should be fairly straightforward to implement.

[2021-06-18 06:50] wanlwanl commented on #624
Thanks a lot! 👍

[2021-06-18 19:36] warrendugan opened #630 "Grouping"
**Is your feature request related to a problem? Please describe.**
A common request from data table users is grouping

**Describe the solution you'd like**
 - Upon dragging column header, render a drop zone within the existing box model of the grid.
 - When dropped, if within the drop zone, sort by the column dragged and check the configuration to see if the column utilizes a group header template

[2021-07-06 15:01] VictorPullzz opened #659 "Freeze column"
**Is your feature request related to a problem? Please describe.**
In my case freeze column would be convenient for me.

**Describe the solution you'd like**
It would be cool if you could add a freeze column, the forward parameter is here:
![image](https://user-images.githubusercontent.com/23406402/124622970-39b2ca80-de84-11eb-9ed4-0a217021948a.png)

Thanks!

[2021-07-07 18:39] alphavector commented on #402
This is relevant to me, too

[2021-07-09 16:40] jakkubu commented on #402
@afshinm any news on this?

[2021-07-11 10:53] ktmsulaim commented on #84
`pagination: {
        enabled: true,
        limit: 10,
        server: {
            url: (prev, page, limit) => `${prev}${prev.includes('?') ? '&' : '?'}limit=${limit}&offset=${page * limit}`
        },
        summary: true,
      },`

This is how I fixed the bug when not performed search initially

[2021-07-11 16:42] sabatale commented on #476
@afshinm  FYI. Broken again.

[2021-07-11 16:56] sabatale opened #667 "Add recordsTotal API"
**Is your feature request related to a problem? Please describe.**
Access total results number (and more generic information, such as pages count, etc.).

**Describe the solution you'd like**
[Datatables example](https://datatables.net/reference/api/page.info())

**Describe alternatives you've considered**
DOM manipulation.

[2021-07-13 00:48] sabatale opened #672 "Back to top on pagination"
**Is your feature request related to a problem? Please describe.**
An option to bring the user back to the top of the table when changing pages.

**Describe the solution you'd like**
Either a configuration parameter, or an event listening to the pages.

**Describe alternatives you've considered**
Raw listeners.

[2021-07-13 08:21] joxy379 opened #673 "Type 'unknown' does not satisfy the constraint 'BaseProps""
**Describe the bug**
When compiling my Ionic Angular app the app refuses to compile because of the following error:

![image](https://user-images.githubusercontent.com/36665384/125416721-6c092142-4dc8-44d5-a9d9-1307cc46f8a3.png)

We're using strict typechecking.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the guide on: https://gridjs.io/docs/integrations/angular
2. Change import b

[2021-07-15 20:06] Soufiane21 opened #677 "Search per column"
Is it possible to have a search bar per column (filter). I remember this option was available in KnockOut. But I could not find it in GridJS.

[2021-07-17 07:33] sharifirad opened #680 "Sorting problem in persian lang"
hi afshin and thnx very much for grid-is
when i start using grid-is, i found a bug in persian lang:
1- when i sort from آ to ی the پ is not in her place and Is placed at the end
2- the و place after ه
thnx again

[2021-07-25 00:55] npsyhos commented on #542
Hi @afshinm, are you sure this isn't a bug? I'm running into a similar issue. I _could_ set the width to correctly render them, but then I run into another issue with it rendering/resizing (I have resizable set to true) to fit the container when going from a small to larger viewport (chrome). It _does_ correctly resize going from a larger viewport to a smaller viewport though. Is there a setting I

[2021-07-25 22:34] Sickae opened #690 "Search keyword doesn't get updated when it's empty"
**Describe the bug**
I'm using server-side search. When the search input has content, it works fine but when I delete it with either backspaces or with the 'x' inside the search input, the search keyword doesn't get updated and gridjs fetches data from the server with the previous keyword again so my search input is empty but my result data is still filtered.

**To Reproduce**
Steps to reproduce t

[2021-07-29 16:04] brianboyko opened #695 "Add Expendable Rows?"
One feature I'd like to know if it's on the roadmap is to have expandable rows, like an "accordian", (or in HTML 5, <details> and <summary> tags.). This is already a feature in Vue-Tables-2 and it's what my team lead is comparing against.

I'm not sure if there's an easy way to do this with the existing functionality, but I see nothing in the documentation on it.

[2021-07-29 16:06] #695 closed

[2021-07-29 16:06] brianboyko commented on #453
I don't know how to do this either, but it would be a feature I would want to see.  Writing to bump this up.

[2021-08-03 16:18] brianboyko opened #703 "Please allow a boolean, "loading", in constructor & updateGrid"
I'm working on creating a Vue3-compatible component with GridJS (GridJS-Vue doesn't work with Vue 3 & Vite).  One thing I would DEARLY like to do is to be able to control whether or not the grid shows the (wonderfully designed) loading screen from outside of the component.

Right now, the component will show loading if you pass in a function returning a promise to the data attribute.  However, wha

[2021-08-04 16:49] fitnycdigitalinitiatives opened #711 "HTML formatting for json list data"
**Is your feature request related to a problem? Please describe.**
Hello, I have some data where a column, 'categories',  includes a list of values, ie. ['animated', 'new', 'featured'] and I would like to be able to apply html to create a link for each individual value within the cell, but it doesn't seem possible.

When the data supplied to a column is a json list, it will output as a single stri

[2021-08-05 10:12] zynth17 commented on #597
i have the same problem and i work with server side data, is there any workaround on this one with server side data?

[2021-08-05 10:18] zynth17 commented on #597
well no problem, i found a simple work around using css.
just add this to the css.
[code]

[2021-08-11 06:36] Sickae commented on #690
Any updates on this? Sorry for the bump.

[2021-08-11 14:54] AndyEst opened #720 "render checkboxes as checked"
I would like to be able to render checkboxes as checked based on row data.

[2021-08-12 15:35] ToobooYana opened #722 "Mark selected row"
Is it possible to highlight the marked / selected row? The marking should be independent of the mouse over effect.

[2021-08-14 10:07] afshinm commented on #711
Yep, see https://gridjs.io/docs/examples/html-cells

[2021-08-14 10:07] #711 closed

[2021-08-14 10:08] afshinm commented on #720
You can use the `html` (or `_` function if you're using `gridjs-react`), see https://gridjs.io/docs/examples/html-cells

[2021-08-14 10:08] #720 closed

[2021-08-14 10:08] afshinm commented on #722
Should be possible, yes. See https://gridjs.io/docs/plugins/selection/row-selection#selected-rows

[2021-08-14 10:08] #722 closed

[2021-08-17 15:24] fitnycdigitalinitiatives commented on #711
Yes, I saw that, but what I'm having trouble with specifically is when the data in the cell is a array/list. So for the example on that page what if there was more than one email address per person and how would you apply the html for each item in the array?

[2021-08-26 17:02] vrmsreddy opened #739 "Export Option like (CSV,XLSX..etc)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-08-26 17:08] #739 closed, assigned to nobody

[2021-09-04 14:08] nghiepit opened #756 "How to avoid the auto height of row while specific set large height table?"
**Describe the bug**
How to avoid the auto height of row while specific set large height table?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gridjs.io/docs/examples/fixed-header
2. Edit height of the table to `2400px`
3. See the problem

**Expected behavior**
The height of the row does not auto scale.

**Screenshots**
![image](https://user-images.githubusercontent.com/476809

[2021-09-07 13:05] joxy379 opened #760 "PluginPosition Suggestion: After row"
I was brainstorming on a table. Namely I would like an accordion table. (example: http://angular-material.fusetheme.com/apps/ecommerce/inventory). I searched around I could find a way to do this with grid.js. I think this can be possible with a little tweaking. The solution I came up with was another plugin position. A plugin position which is rendered after each row that we can access with the ta

[2021-09-07 15:47] joepagan commented on #455
@afshinm I would also like to be able to do manually set a loading state, as I am handling the fetch at a higher component level, not using your promise solution in the data property function.

[2021-09-14 11:01] jaketyb opened #772 "VueJS - 'Vue is not defined'"
Attempting to use gridjs-vue produces the error 'Vue is not defined' in the browser console, and the app is prevented from rendering.

Following either the local or global component registration guide produces the same error.

My main.js before adding any gridjs-vue references, working fine:

[code]

After registering:

[code]

Then the app no longers renders and the following error is seen in the

[2021-09-14 11:04] #772 closed

[2021-09-14 11:05] jaketyb commented on #772
Sorry, I should have opened this on the gridjs-vue project

[2021-09-15 07:07] wanlwanl commented on #597
Thanks! It works

[2021-09-15 07:07] #597 closed

[2021-09-16 11:36] PurpleEyeGH commented on #102
Same question ?
Impossible to import, Vue is not defined, same in client mode.

[2021-09-16 11:39] PurpleEyeGH opened #774 "Question: How to use it in NuxtJS?"
I created a plugin in nuxtjs composed like this

[code]

In my nuxt.config.js

`  plugins: [
    { src: "~/plugins/gridjs", mode: "client" },
  ],`

But don't work, just the call of import * as Grid from 'gridjs-vue' Suffice it to create an
`Uncaught ReferenceError: Vue is not defined `

One idea please ?

[2021-09-16 11:52] PurpleEyeGH commented on #774
Ok, gridjs-vue is broken https://github.com/grid-js/gridjs-vue/issues/426
It's possible to repair it ?

[2021-09-16 11:53] PurpleEyeGH opened #775 "GridJS-Vue is broken"
https://github.com/grid-js/gridjs-vue/issues/426

With 4.0 no problem, it's possible to repair it ?

[2021-09-21 07:33] afshinm commented on #775
@selfagency any idea why this is happening since v5?

[2021-09-24 12:13] mustafadalga opened #792 "Last column does not resize!"
**Describe the bug**
I am able to resize all columns of the Table. But the last column is not resized.

**To Reproduce**
* For the example below, you can try resizing the last colon.

**Expected behavior**
I want to resize in last colon like other colons.

**Screenshots**
* Video: https://www.loom.com/share/a36bfc746f364642a8a403f7e8854f28
* Image:![image](https://user-images.githubusercontent.com

[2021-09-26 19:15] ravindrank commented on #673
Any workarounds for this issue?

I read a similiar issue somewhere else https://githubmemory.com/repo/grid-js/gridjs-angular/issues/89
[code]
I tried this but no change..

[2021-09-28 14:54] lrirwin opened #799 "Method to render to stdout"
### Discussed in https://github.com/grid-js/gridjs/discussions/793

<div type='discussions-op-text'>

<sup>Originally posted by **lrirwin** September 27, 2021</sup>
I'm able to instantiate Grid and see the resulting structure with the data and column headings within it...
Is there a way to render the resulting grid to stdout vs. doing a DOM manipulation?</div>

[2021-09-29 16:45] kwilson05 opened #802 "Set pagination buttons to "type='button'""
I'm wondering if we can set the pagination buttons button type  to "button".
I have the table wrapper within a form and the form submits anytime on those pagination buttons are clicked.

[2021-09-29 16:59] kwilson05 commented on #802
Work around is finding the pagination buttons' container then setting all the buttons to type "button"

`const paginationButtons  = document.querySelector('.gridjs-pages').querySelectorAll('button');
    for(const button of paginationButtons)
    {
      button.type = "button";
    }
`

[2021-10-03 10:43] augiwan opened #806 "Performing a search on pages other than Page 1 misbehaves"
**Describe the bug**
Performing a search on any other page after Page 1 breaks the search experience.

**To Reproduce**
Steps to reproduce the behavior:
1. Load a dataset of 100 items, and make sure Pagination is enabled. (Default 10 results per page)
2. Perform a search with any keyword that should produce < 10 results.
3. Make sure everything is okay and you are getting some results.
4. Clear th

[2021-10-03 10:50] augiwan commented on #806
@afshinm Do have a look. :) I found this when I was testing out the library.

[2021-10-03 18:03] sabatale commented on #402
Is there an example of how to achieve this through a workaround, by any chance?

[2021-10-04 09:20] augiwan commented on #806
Some additional context: I observed that I had the `resetPageOnUpdate` option set to `false`.

This reported issue only comes up when this option is set to `false`.

@afshinm

[2021-10-04 19:33] ravindrank commented on #673
I was able to solve this...
Doc page https://gridjs.io/docs/integrations/angular needs update

Correct lines below:
import { GridJsAngularModule } from 'gridjs-angular';
edit line->  imports: [... GridJsAngularModule],

For this error:```
Error: node_modules/gridjs/dist/src/view/base.d.ts:5:67 - error TS2344: Type 'unknown' does not satisfy the constraint 'BaseProps'.

5 export declare abstract cl

[2021-10-11 02:24] newmediacrew opened #813 "Question: How to correctly set custom request headers"
Hello,

Edit, readable code here: https://pastebin.com/GGDRtVmT

I am trying to set some custom request headers before sending out a request. But its a bit confusing, can someone help me in the right direction. How do I set the  'X-My-Custom-Header': 'cool', header correctly in this example. According to the documentation https://gridjs.io/docs/config/server/ --> data, from or server must be provi

[2021-10-12 04:26] waleakande opened #815 "Sort By Asc or Desc"
I'm trying to sort the first column to desc by default, I've looked through the documentation and I found nothing.

{
     name: 'Date Sent',
     sort: { firstOrder: 'ASC' }
},

Please help

[2021-10-14 17:42] raduab commented on #402
@afshinm how is this progressing?

[2021-10-14 17:56] raduab opened #819 "Server Side Preloading"
It would be nice to be able to pass a data array to the server config to instantiate the table with data. This way the user won't have to wait for the table to fetch the data at page load.

I propose a parameter for the server config, let's call it 'data' which will hold initial data. This can be an array or a promise. If the 'data' parameter is present, don't fetch anything at component instantia

[2021-10-15 19:40] nevseev opened #822 "Add ability to cancel grid events"
**Is your feature request related to a problem? Please describe.**
Currently I could not find a way to cancel an event, e.g. beforeLoad

**Describe the solution you'd like**
Would be nice to have a the event parameter in beforeLoad handler which I could call a preventDefault on

[2021-10-16 19:52] sabatale opened #824 "Inline SVG breaks CSP policy"
**Is your feature request related to a problem? Please describe.**
The Mermaid CSS inline SVG (**data:image/svg+xml;**) is not working for companies with strict CSP policy, since there is no way to allow the data: element without opening vulnerabilities.

This Bootstrap issue explains the issue pretty well: [https://github.com/twbs/bootstrap/issues/25394](https://github.com/twbs/bootstrap/issues/2

[2021-10-20 07:00] Glioburd opened #836 "RowSelection plugin stops after forceRender() with arg provided to updateConfig()"
Hello !

**Describe the bug**
RowSelection doesn't work after a `forceRender()` if an argument is provided to `updateConfig()`.
It will break if you update any property of the object provided to `updateConfig()` such as  `data: {...}`, `search: {...}`, etc.

**To Reproduce**
JsFiddle with a simple table using RowSelection plugin : https://jsfiddle.net/glioburd/v4n1bate/16/
A radio button triggers

[2021-10-21 20:05] nevseev opened #838 "Setting width on columns has no effect when grid's width is larger than the container element's width"
**Describe the bug**
Setting width on individual columns has no effect when container element's width is set to 100% (gridjs-wrapper class) and the grid's width is larger than the visible width of the container.

**To Reproduce**
Steps to reproduce the behavior:
Define a grid with multiple columns, so that the visible width goes beyond container's width. Set some columns' widths to specific values

[2021-10-25 14:48] rbakker-tournamentsoftware opened #840 "Grid re-renders or resets internal state when updating other elements"
**Describe the bug**
It seems that when changing other state variables in React, the grid is re-rendering/reloading. So when you have options like sort, resize, search enabled, these properties are reset. Or is this related to #227 ?

**To Reproduce**
For example see https://codesandbox.io/s/gridjs-react-forked-1jo43?file=/src/App.js
1. Resize a column, and/or change column sorting.
2. Click the b

[2021-11-05 16:25] smashmirrorcardboardface opened #843 "Horizontal scroll bar appears when fixed header option is used"
Horizontal scroll bar appears when fixed header option is used and vertical scroll bar is displayed

**To Reproduce**
add fixed header option to a table with more rows than there is space available to display all rows on screen
vertical scroll bar is shown.
horizontal scrollbar is shown.

**Expected behavior**
table should re-adjust width to take into account the vertical scroll bar

[2021-11-08 16:13] Packoverflow commented on #840
^
Thanks for the amazing work on gridjs! +1

[2021-11-14 11:16] lsblsb opened #848 "Column names are not set automatically when setting JSON data via dynamic data import"
**Describe the bug**
When i set data dynamically via an an array with JSON object as described in the docs, a faulty table with empty columns is generated.

**To Reproduce**
Steps to reproduce the behavior:

create a new Grid object **without a columns definition**, and with a **dynamic json data** definition as follows:

Example 1:
[code]
Example 2:
[code]
Example 3:

[code]

**Expected behavior*

[2021-11-14 12:06] lsblsb commented on #848
Fixed it like this for the moment:

[code]

[2021-11-14 15:30] #756 closed

[2021-11-16 14:02] ViRuSTriNiTy commented on #815
Same here

[2021-11-17 14:07] blocksera opened #861 "Formatter running 3 times per cell"
**Describe the bug**
The formatter function is running thrice for each cell which I is not ideal. This wouldn't be noticeable problem for static text but using advanced elements like charts is crashing because there is no `ref.current` the first two times.

**To Reproduce**
Run this simple code below:
[code]

You would see `John` is printed 3 times in the console.

Codesandbox: https://codesandbox

[2021-11-18 05:49] #760 closed

[2021-11-18 13:10] derkaiserreich opened #862 "Tableview not updated when using server-side pagination and sorting."
**Describe the bug**
I'm using the server-side pagination and sorting plugins. My table is loaded when a new Grid instance is created, however the table view is not rerendered when I change the selected page or change the sort direction of a column.

The strange part is, that the actual events seem to be triggered, because the server requests are sent and are being answered. The table simply does

[2021-11-21 11:25] #848 closed

[2021-11-22 20:08] NealGeilen commented on #775
I have the same issue,
Does anyone have an idea how to solve this?

[2021-11-24 18:54] mustafadalga commented on #792
But this problem is not solved yet.

[2021-11-25 11:03] Reve opened #867 "Table contents do not resize when browser window is resized (to a larger size)"
**Describe the bug**
On window resize to a larger width than initial, the table contents are not resized to fit the new width.

**To Reproduce**
Steps to reproduce the behavior:
1. Resize the window to a bigger size
2. See error

**Expected behavior**
The columns should resize automaticaly to fit the new width.

**Screenshots**
***Initial***
![Screenshot 2021-11-25 at 13 00 59](https://user-images

[2021-11-25 11:22] Reve commented on #867
A quick fix I found is to add width: 100% to table.gridjs-table and change the table-layout from fixed to auto. I don't know what other implications these changes might have to other functionalities.

[2021-11-26 06:58] #774 closed

[2021-12-03 13:41] vijayvnk0828 opened #877 "Custom plugin is not rendered after updateConfig"
As per the documentation I added a custom plugin in header position, in any case if I use updateConfig the table updated but the custom plugin is gone.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://gridjs.io/docs/plugins/writing-plugin/#using-a-function, this issue can be reproducible in the live editor of your documentation
2. Above link is the simple custom plugin example a

[2021-12-07 21:20] #799 closed

[2021-12-10 13:02] #802 closed

[2021-12-13 12:34] #806 closed

[2021-12-15 10:46] mskocik opened #886 "[question] Destroying component"
How is gridjs handling when it's wrapping element is removed from DOM? Is is properly destroyed, event listeners removed, etc.?

Component itself doesn't expose `destroy` method, so I am asking?

[2021-12-20 23:37] #813 closed

[2021-12-21 09:07] mustafadalga opened #889 "pagination events"
**Is your feature request related to a problem? Please describe.**
Adding click events for pagination buttons

**Describe the solution you'd like**
For example, I want to call a method when clicking the back or forward buttons.

 I solved the problem as below with pure javascript to get the pagination number the user clicked on.

[code]

[2021-12-24 21:56] #819 closed

[2021-12-25 18:29] #822 closed

[2021-12-26 13:39] #824 closed

[2021-12-29 12:10] ubergeoff commented on #867
Yes, please can we fix the css to:

[code]

??

[2021-12-30 18:08] tecnoe opened #893 "Nested Data"
How can I build something similar to this?.

[https://jsfiddle.net/s1dmw8g2/](url)

Code:

[code]

[2021-12-30 21:44] mike-seekwell commented on #756
@nghiepit did you figure this out?

[2021-12-31 04:31] #838 closed

[2021-12-31 05:03] nghiepit commented on #756
@mike-seekwell switch to another library :)

[2022-01-03 21:24] tecnoe opened #896 "Malformed table headers, with nested header."
When child columns have child columns as well, the parent does not expand to 100% of the table width.

Example: [https://codepen.io/tecnoe/pen/OJxZmZm](https://codepen.io/tecnoe/pen/OJxZmZm)

[code]

[2022-01-05 05:59] newmediacrew opened #897 "Column sorting not working after search input"
**Describe the bug**
Almost everything is working like is supposed to. We are having trouble to get sorting to work after a search results has been put in. See the screenshots for more information

**Expected behavior**
Column sorting should work after a search keyword has been given.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the foll

[2022-01-06 01:34] newmediacrew commented on #897
Maybe stupid but answering my own question. Had to adjust some of the code. A working solution if someone is interest:

`new gridjs.Grid({
        columns: [
            {id: 'userId', name: admin.translation.wallet.userId},
            {id: 'email', name: admin.translation.wallet.email},
            {id: 'tokens', name: admin.translation.wallet.tokens},
            {id: 'pin', name: admin.transla

[2022-01-06 01:34] #897 closed

[2022-01-08 06:54] geofany commented on #774
how to use it with nuxt ?

[2022-01-08 23:33] modusinternet opened #900 "Import server-side data example"
The live results on this template, https://gridjs.io/docs/examples/server/, fails with the error "An error happened while fetching the data".  The console reports this error, "[Grid.js] [ERROR]: TypeError: data.map is not a function".

I believe the problem is in this line of the example code:
then: data => data.map(card => [card.name, card.lang, card.released_at, card.artist])
I think it should r

[2022-01-09 00:01] modusinternet opened #901 "Edit, Update, Delete, and Storage Local Examples"
Are there more examples of code anywhere that describe how to capture edit, update, delete events and direct these events to either storage local or PHP for database updates?

[2022-01-09 14:50] modusinternet opened #902 "Broken links"
Two links at the bottom of this page, https://gridjs.io/docs/examples/event-handler, are broken.

Under 'Tip':
https://github.com/grid-js/gridjs/blob/master/packages/gridjs/src/view/events.ts
https://github.com/grid-js/gridjs/blob/master/packages/gridjs/src/view/table/events.ts

[2022-01-11 20:08] cossssmin commented on #542
Just ran into this - for anyone looking for a solution, I worked around it with some custom CSS:

[code]

As an aside, it might be useful if `<th>` would contain a single `<div>` child that you could style with flex (can't do that directly on the cell, of course) - would make things a bit easier :)

Thanks for a great library! 👍

[2022-01-13 12:09] 1fc0nfig commented on #843
bb

[2022-01-14 03:44] #836 closed

[2022-01-16 02:05] iamyuu opened #904 "Receive `cell.data` on plugin"
**Describe the bug**
When using `plugin` as cell, the `cell.data` receive `null`

**Expected behavior**
When using `plugin`, the props should receive similar value with formatter cell

**To Reproduce**
Steps to reproduce the behavior:
1. Check the [codesandbox](https://codesandbox.io/s/gridjs-render-plugin-repro-t2lk0?file=/src/index.js)
2. Open the console
3. See `this.props.cell.data` is null

*

[2022-01-18 23:29] #840 closed

[2022-01-20 04:16] JorensM opened #907 "How do I add a className in React?"
Hello, I want to add a custom class to my table in React. I tried `className={{td: "name"}}` but it didn't work...

[2022-01-24 07:26] mustafadalga commented on #792
But this problem is not solved yet.

[2022-01-25 01:11] david-vogel opened #908 "Table derived using HTML table ignore column settings"
**Describe the bug**
Tables using an HTML data source ignore column settings.

**To Reproduce**
The link to the below codesandbox demonstrates a table derived from an array data source and an HTML data source with identical column settings.
[link to codesandbox](https://codesandbox.io/s/gridjs-hello-world-forked-n062w)

**Expected behavior**
When using a HTML data source using the "from" configura

[2022-01-27 06:26] AndyEst commented on #402
+1, would love to be able to filter out or show only- based on criteria

[2022-01-27 08:29] #815 closed

[2022-01-28 04:05] #862 closed

[2022-01-29 20:46] fasteddys opened #915 "Auto Mapping ViewModels"
**Is your feature request related to a problem? Please describe.**
I was looking here to bind on the server https://gridjs.io/docs/examples/server

Some of it is unclear on the auto map/ or two way binding when user updates information - is already there please add some docs help.

**Describe the solution you'd like**
Now, when we have several POCO we want to bind on the server, please share a fea

[2022-02-01 03:02] aq35 opened #918 "Double request when sorting"
**Double request when sorting**
There is a bug? when combining [Server Side Pagination] and [Server Side Sorting].

**To Reproduce**
1.Pagination
URL: http://xxxxxxx/shop/list/data?order=approvedAt&dir=1&limit=15&offset=0 …OK
2.Sorting (only once)
URL: http://xxxxxxx/shop/list/data?order=approvedAt&dir=0&limit=15&offset=0
URL: http://xxxxxxx/shop/list/data?order=approvedAt&dir=0&limit=15&offset=0

[2022-02-02 07:13] #861 closed

[2022-02-04 20:37] Olliebrown commented on #184
I'm still wondering how one achieves zebra-stripes for the rows.  'styles' does not expose an object for a row (tr) and a more complex CSS selector like tr:nth-child(even) doesn't seem possible with what is available here.  Classname also does not offer a way to distinguish every other row (or any rows) that I can see and I don't want to delve into css-in-js (nor do I see how it would solve this p

[2022-02-07 08:50] kimkanghyune opened #920 "I want to respond to the responsive web."
I wish there was a special function or option to respond to the responsive web.
If the width is reduced too much, the table will look weird.
I wonder if I should respond with css, or if that feature already exists, or if it will be added in the future.

[2022-02-16 02:19] hsunaga1 opened #932 "fixedCols"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-02-16 02:20] #932 closed

[2022-02-16 02:20] hsunaga1 commented on #932
mistake

[2022-02-16 21:08] #877 closed

[2022-02-17 17:31] bbjansen commented on #775
can confirm on vue 2

[2022-02-22 19:06] Overload119 opened #933 "Add click event listener for row header"
**Is your feature request related to a problem? Please describe.**
I've tried a few ways to add a click listener to the header.

**Describe the solution you'd like**
For the event listener on the header to not eat the event.

**Describe alternatives you've considered**
I tried add a listener directly but it never fires.

**Additional context**

[2022-02-22 19:09] Overload119 commented on #933
Okay, I fixed this by specifying Stimulus controller like this:

[code]

[2022-02-22 19:09] #933 closed

[2022-02-26 01:26] iamyuu opened #934 "Incorrect data when one of the columns has a plugin"
**Describe the bug**
Incorrect data when one of the columns has a plugin, relate to #904

**Expected behavior**
It should receive correct data when one of the columns has a plugin

**To Reproduce**
Steps to reproduce the behavior:
- Open [codesandbox](https://codesandbox.io/s/gridjs-render-plugin-repro-t2lk0?file=/src/index.js)
- You would see the `data` and the `column` render incorrect

![Screen

[2022-03-02 09:08] ubergeoff commented on #867
Would the above be possible..?

[2022-03-03 12:02] MattiasFestin commented on #836
I have the same problem.

I use grid-js from the Svelete component wrapper (`gridjs-svelte`). And when doing dynamic updates the forceRender bug makes row selection unresponsive.

This bug makes Svelte version of grid-js unusable for me.

[2022-03-06 03:07] #889 closed

[2022-03-08 20:51] carlos-dubon commented on #904
any workaround for this?

[2022-03-10 13:23] DavidzMwangi commented on #775
I have the same issue.  Anyone who has found a solution?
Am using

- vue 3
- vue cli

[2022-03-10 16:08] MehdiBenbahri commented on #920
Hi Kim,

By definition a table can't be responsive... That's the case for grid.js, datatable, or any kind of other table...
But there are some works-arounds 👍

- You can disable auto width (it calculate automatically column width) and fix the column width.
- You can Hide column. (see https://gridjs.io/docs/examples/hidden-columns/)
- I don't know if you can do it with grid.js but in datatable you

[2022-03-10 17:18] fsanna opened #937 "Nested Header error on multiple nested elements"
using the example code, if I'll add multiple levels the colspan attribute will bel calculated only using the first level elements:

`const grid = new Grid({
  columns: [
      {
        name: 'Name',
        columns: [{
          name: 'First'
        }, {
          name: 'Last'
        }]
      },
      'Email',
      {
        name: 'Address',
        columns: [{
          name: 'Country'

[2022-03-12 11:28] #893 closed

[2022-03-13 02:02] zack-w opened #938 "Make `className` config entry for containers take precedence"
When adding a [`className`](https://gridjs.io/docs/config/className) to a container, I think that it should take priority over the `gridjs` template classes. OOTB there's no easy way to keep the default template and override other than using `style` overrides.

https://github.com/grid-js/gridjs/blob/5fae726edb4471f517115bc377507e7b56453be4/src/view/container.tsx#L118-L123

Should become:

[code]

[2022-03-14 18:52] kaptajnen opened #939 "Values in <th> are ignored when using the from option"
**Describe the bug**
If you use the `from` option with an existing HTML element when creating the grid, values in `<th>` elements inside the `<tbody>` are ignored. Remaining values are no longer aligned with their respective columns. See demo at https://codepen.io/kaptajnen/pen/PoEwBBj

**To Reproduce**
Steps to reproduce the behavior:
1. Create an HTML table with `thead` and `tbody` elements.
2.

[2022-03-17 17:27] #896 closed

[2022-03-18 02:30] kimkanghyune opened #945 "Is there a way to code control the checkboxes created in grid.js?"
Rather than directly controlling the user, I want to control it by writing code.
The documentation example of the Selection Plugin related to this also seems to lack explanation.
And it would be nice to add a function to limit the number of checkboxes that can be selected.

[2022-03-18 04:08] #920 closed

[2022-03-25 07:47] #843 closed

[2022-03-25 07:47] #900 closed

[2022-03-25 07:47] #901 closed

[2022-03-25 07:47] #902 closed

[2022-03-29 02:23] mhkeller opened #950 "Display pagination in any <div>"
**Is your feature request related to a problem? Please describe.**

I'm displaying query results from a database and I want the pagination buttons to always be in the same place. if I only have one or two results, the pagination options show up right after my rows. This is a little weird in my UI and I would prefer to always have the pagination options stick to the bottom. I don't want to set a fi

[2022-03-29 10:27] StephanMa opened #951 "Allow Pagination to be on top as well"
**Is your feature request related to a problem? Please describe.**
We are evaluating gridjs for one of our projects. Sometimes you can have 100 records per page. So its really annoying to scroll to the bottom of the page for pagination.

**Describe the solution you'd like**
It would like to enable pagination to be on top **and** bottom of the table.

**Describe alternatives you've considered**
n/a

[2022-03-29 14:30] mhkeller commented on #950
This would also fix https://github.com/grid-js/gridjs/issues/951

[2022-03-29 14:52] mhkeller opened #952 "Only render visible rows (virtual list)"
**Is your feature request related to a problem? Please describe.**
It would be nice if this library only rendered rows that were visible on the screen – a so-called virtual list. Other table libraries (such as [Tabulator](tabulator.info/)) already do this. It helps avoid the page being bogged down with a lot of unseeable data.

[2022-03-30 17:21] kaanrkaan commented on #945
I was also searching into this topic, after digging deeper into the codebase I found the solution

If you are trying to access within a plugin:
`this.config.dispatcher.dispatch()`

[2022-03-31 15:04] cdarissian opened #954 "Initial Sort Column"
Functionality to allow you to set the initial sort column on first load, so that it's correct represented by the column arrows

[2022-04-02 08:35] #907 closed

[2022-04-04 07:53] GaretJax commented on #904
It looks like there is a bug where an additional `null` value is inserted at the position of the column with a plugin. If there are additional columns after the one with a plugin, their values are all offset by one position.

If you look at https://svelte.dev/repl/0c77bee765c1458d825a4df13aefb5a4?version=3.46.6, you will see that the plugin accesses the cell at index 3, even if it should access th

[2022-04-04 07:57] GaretJax commented on #904
It seems that the code does not expect the data to contain a value at all for the column with a plugin. A possible workaround is to add an additional column with `hidden: true` with the data and use that in the plugin by getting the data via `row.cell(hiddenColumnIndex).data`.

[2022-04-06 23:32] #908 closed

[2022-04-06 23:32] #792 closed

[2022-04-13 07:20] #915 closed

[2022-04-13 07:20] #918 closed

[2022-04-18 22:34] techgems opened #959 "Ability to have server side sort AND server side pagination"
**Is your feature request related to a problem? Please describe.**
It's a feature request after following the documentation and being unable to join both server side sort and server side pagination. They both do network calls and the "prev" parameter does not contain information that may have come from the other function setting up query string values for the server side.

**Describe the solution

[2022-04-22 22:09] sloan-dog opened #962 "Not passing a storage provider throws an exception"
**Describe the bug**
A clear and concise description of what the bug is.
Using react wrapper
Initializing the Grid
With storage === undefined (it is an optional prop)
Causes an exception to be thrown : Could not determine the storage type

**To Reproduce**
Steps to reproduce the behavior:
Try to render a page with grid component
**Expected behavior**
A clear and concise description of what you exp

[2022-04-29 12:46] azmeuk opened #967 "Selection plugin: *select all* checkbox in the table header"
I would love a main checkbox to select/unselect several rows at a time.

When the selection plugin is used, a *(de)select all* checkbox in the header would be awesome. If checked it would check all the checkboxes (and select all the rows), if unchecked it would unselect all the rows. If some rows are selected and other are not, the checkbox would appear [undeterminate](https://developer.mozilla.or

[2022-04-30 09:49] rafzei commented on #867
It's not needed to hardode in the code. Here is example:
[code]
The thing is, that if you put `width: 100%` the mobile view won't be vertically scrollable anymore.

[2022-05-03 08:46] creativeprogramming opened #969 "Module not found: Error: Can't resolve 'gridjs/plugins/selection'"
It seems that the documentation at:

https://gridjs.io/docs/plugins/selection/index

is not updated as I cannot import the plugin from that path

[2022-05-04 07:50] creativeprogramming opened #970 "InsertRow"
It would be useful to have a method to dyniamically add rows to an existing grid, e.g. I've an application with socket.io that automatically have to add rows to an existing table

[2022-05-10 08:42] s-keerthi-code opened #974 "Dynamic styling for tr Row doesn't work"
**Describe the bug**
I have  a situation where I have to add styles to a row based on the row data. However only static styling for tr is possible. How can I do this?

[2022-05-13 10:45] daniel007enirman commented on #775
https://github.com/grid-js/gridjs-vue/issues/432

[2022-05-16 08:58] mvisonneau commented on #774
FWIW, I managed to get it to work on Nuxt v2.15.8 with the following:

[code]

[code]

[2022-05-17 04:35] rawandhawez commented on #402
Any updates on this?

[2022-05-17 05:34] abhaysinghs772 opened #978 "re-render the grid after a particular event like clcking a button"
**Is your feature request related to a problem? Please describe.**
I am using grid.js in my admin panel of a project, where i have a button in my action's column.
i want to refresh the grid after the click event of button.
i don't want to reload the entire page again to show updated data.

i am using vanilla javaScript only.

**Additional context**
![Screenshot from 2022-05-17 10-59-41](https://us

[2022-05-20 22:30] aphavichitr commented on #451
@afshinm do you have an example of this internal counter?

[2022-05-26 00:10] kaptajnen commented on #939
I guess this bug won't get fixed then?

[2022-05-28 16:29] bokunodev commented on #978
you could listen on `cellClick` event. the callback definition is in here
https://github.com/grid-js/gridjs/blob/5fae726edb4471f517115bc377507e7b56453be4/src/view/table/events.ts#L6

[2022-06-02 05:42] SantoshRaoMea opened #984 "Row and Cell Select from external event outside the side grid"
I have the grid rendering table data.

I have a button and other react components outside the grid. On certain events outside the grid, i would like to select a row or select a cell. Is there a way to achieve the same.

[2022-06-04 07:19] GaretJax commented on #904
+1

[2022-06-05 09:18] wuzhenda opened #988 "uigrid like ?"
is it  compatible with the AngularUI uigrid?
I have some angularjs projects which use the uigrid.
as the angularjs is  dying, I have to find some alternative.
the gridjs config  is much like the uigrid.

[2022-06-06 06:14] damianobarbati commented on #952
Indeed virtualization would be a great future!
It's also a great alternative to pagination when dataset is small (<5MB), allowing less backend configuration (single HTTP call) and a smooth UX experience 🙂

[2022-06-07 12:25] xididri commented on #184
Here is how I do it with [react-jss](https://cssinjs.org/react-jss/):

[code]

[code]

[code]

[2022-06-07 13:03] RafeSafari commented on #954
It would be nice to consider this issue as a feature request.
As an alternate solution, some APIs would work as well.
`grid.sort('id')` for instance!

[2022-06-08 09:21] damianobarbati commented on #756
@nghiepit which one did you switch to?

[2022-06-08 10:05] nghiepit commented on #756
@damianobarbati
https://www.npmjs.com/package/rc-table and https://github.com/TanStack/table

[2022-06-09 18:51] mgrecol opened #992 "Columns has no effect when using from: htmlTable as a datasource"
When we using from: HTMLTABLE
the grid.js seems to ignore anything that is in the "columns" declaration.
the below example, the first column ID should be hidden and the 2nd column should have an <a>  link. The rendered table does not not have these.

Example:
 var tbl = document.getElementById('TestRef');
 var dest =  document.getElementById('TableDest');
var   grid = new gridjs.Grid({
					column

[2022-06-10 17:32] gmdcm opened #995 "Filter Feature"
**Is your feature request related to a problem? Please describe.**
I am currently trying to  write my own filter plug in

**Describe the solution you'd like**
I like the AG Grid Filter but I do not want to pay for enterprise as I am student making projects

[2022-06-11 02:29] #951 closed

[2022-06-11 02:29] #950 closed

[2022-06-11 02:29] #945 closed

[2022-06-11 02:29] #938 closed

[2022-06-11 02:29] #937 closed

[2022-06-14 01:24] He2car commented on #677
I was going to ask for this feature but would like to add that to make the interface cleaner and avoid having a row just for column search the Column search field could be in the column header itself (onclick) and the sorting moved to an external drop down (see example below), maybe next to the search field.

<img width="194" alt="Screenshot 2022-06-14 at 9 05 26 AM" src="https://user-images.githu

[2022-06-14 01:56] He2car opened #997 "UI for number of Rows displayed"
**Is your feature request related to a problem? Please describe.**
As a user I want to have a UI element to select how many rows are displayed in the table so I can see more/less rows at once and reduce/increase the number of pages at the same time.

**Describe the solution you'd like**
A dropdown box next to the pages with a few option such as (5, 10, 25, 50, 100). The selected option will then m

[2022-06-17 12:50] brandtabbott opened #1000 "Is this project no longer maintained?"
Looks like there hasn't been any recent releases and bug issues (one of which I'm running into) are auto closed by the bot 👎.  I'd really like to see this project continue 👍.  Please let us know the current state 😀.

[2022-06-18 10:27] afshinm commented on #1000
Hey @brandtabbott, yeah. sorry about that. The project is maintained and my intention is to keep the project up and running, I didn't have enough time recently to triage tickets though. I will hopefully fix some common issues today/tomorrow and release a new version.

Thanks for the heads up!

[2022-06-18 10:27] #1000 closed

[2022-06-18 12:31] beebase commented on #560
So is there an example in the docs how to include tailwind?

[2022-06-19 15:33] azmeuk commented on #959
Thank you stale bot, but I am still interested in this issue. :pray:

[2022-06-23 08:49] deveventree commented on #453
For those searching, this is how i solved the problem,

in the first cell i added
[code]

then I created a function called buildSubTable()

[code]

Hopefully this will help in the meantime while you were searching for an awser, you can add datasets to rows to furter manipulate stuff. For example a resource route which you need to fetch data for those rows and so on.

Be creative

[2022-06-24 00:33] vicentematus commented on #978
Hey @abhaysinghs772 how did you add custom icons  /buttons inside Grid.js?

[2022-06-24 02:34] vicentematus commented on #978
Thank you very much. Now it's working

[2022-06-24 18:58] twilly86 commented on #44
I'm also trying to get gridjs to work with graphql

is it possible to get the data option available inside pagination so we can use a custom HTTP client for paging, sorting, searching etc?

ex) https://gridjs.io/docs/examples/custom-http-client

I'm looking for ways to get this to work with apollo client and graphql

[2022-06-27 05:30] throwexceptions opened #1040 "The POST Body:{} server request sends [object Object]"
When I try to use the POST method and add parameters inside of the body:{}, It sends [object Object] instead of JSON format.

Steps to reproduce the behavior:
1. Create a load and import data from a remote URL.
2. Use POST as method and Body : {} for your params.

Screenshot of Request to Server:

<img width="164" alt="Screen Shot 2022-06-27 at 1 28 54 PM" src="https://user-images.githubuserconten

[2022-06-30 18:49] ben099 opened #1043 "Sortable function behaves unexpected in column with numbers"
I have a sortable table. In one column I list numbers (points) meant as a ranking. The sortable function sorts this column in a weird way.

**Unsorted (initial):**
290
238
218
174
143
113
89
14

**Sorted (by gridjs):**
113
14
143
174
218
238
290

**Expected:**
14
113
143
174
218
238
290

**Screenshot**
https://share.cleanshot.com/yq45bGivqjYTGoqhtriH

**Code for activating**
`$("#table-sortable").

[2022-07-05 01:36] #1040 closed

[2022-07-05 01:40] renitreni opened #1047 "Custom Buttons that lines up with search"
Problem:
I'm hoping to minimized my design with grid js.

Solution:
Placing a custom buttons beside the built-in search textbox.

Alternative Solution:
It may be a dropdown action button above the table.

Screenshot For Reference:
<img width="1409" alt="Screen Shot 2022-07-05 at 9 34 48 AM" src="https://user-images.githubusercontent.com/17608701/177233021-d3dd7c6f-0b1a-49e6-8390-05a50ed94e4a.png">

[2022-07-05 17:55] usyeimar commented on #230
![imagen](https://user-images.githubusercontent.com/71295346/177387222-505a7df1-c521-4484-96a6-7b13b89a8272.png)
Hello, this page is not found in the documentation

[2022-07-07 20:43] bguil commented on #1043
Make sure that the values you use are numbers. In your example, values are sorted as strings (14 < 113 but "113" < "14").

[2022-07-08 07:44] ben099 commented on #1043
Awesome, thank you so much for pointing me into the right direction.

[2022-07-08 08:09] #1043 closed

[2022-07-10 03:17] #962 closed

[2022-07-10 12:06] APMU commented on #425
Hello, we already have data editing expectation?

[2022-07-10 16:41] azmeuk commented on #967
Please stale bot, let this issue opened.

[2022-07-12 10:29] JuliaBonita opened #1056 "Preact TypeError: Cannot read properties of undefined"
**Describe the bug**

Data table loads ok, but paging through the data generates random `preact` freezing approximately every 1-20 clicks (sometimes the first page; sometimes other random pages) with this error:
[code]

When that error occurs, the entire table freezes and the page must be hard-refreshed. On mobile, this causes the app to look like the entire screen has frozen, which makes the app

[2022-07-12 10:53] JuliaBonita commented on #1056
I just noticed that the table also freezes if I sort the columns multiple times quickly. So paging _and_ sorting trigger the preact freeze problem, which seems to be a rendering problem, not a data loading problem. Given that `preact` is a rendering component, it seems like there is a bug in `preact` or in the way `preact` is implemented in GridJS.

[2022-07-15 14:56] ben099 commented on #1043
It's awkward, but even when I convert from a string to an integer, it changes the behavior of the sorting.
Could you look again into this matter?

[2022-07-15 17:00] bguil commented on #1043
See screenshots below:
 * first screenshot: value are strings (with quotes), sorting is 1, 10, 2, 3
 * second screenshot: value are ints (no quotes), sorting is 1, 2, 3, 10

<img width="866" alt="Screenshot 2022-07-15 at 18 56 34" src="https://user-images.githubusercontent.com/687155/179272064-79ceda7f-d1dd-4629-8560-ad6d87475fd6.png">
<img width="866" alt="Screenshot 2022-07-15 at 18 57 08" src="

[2022-07-16 20:07] pauldmps commented on #184
Can this be implemented using SCSS modules? I tried setting both className and style but but both doesn't work.

[2022-07-20 12:52] dazpinto commented on #115
Hi is this still ongoing? I think a major step forward would be to make the scss files available in the npm package & adding `!default` to the color variables so developers can override them.

I'd be happy to make a merge request for it!

[2022-07-20 22:52] Christian-Martinez1 opened #1065 "How to use media queries with the style{} property?"
Hello,

i am trying to use style{} in my Grid instance to completely restyle the table to match my dashboard as classNames don't take precedence over the default grid.js styling. How would I go about to use media queries in style{}? I have tried the following:

[code]

but this doesn't work. Does anyone know the correct syntax to do what I am trying to do above?

Thanks,

Chris

[2022-07-27 08:00] GoekhanDev opened #1070 "How to Add Two button to one column"
Hello,

I'm trying to add two buttons to one column, the guide on the website only shows how to add one button per column, source https://gridjs.io/docs/examples/row-buttons/. I need one edit and delete button side by side in one column, I've tried to return two buttons but that just overrides the first button.

Kind Regards.

[2022-07-27 10:43] gpiedimonte opened #1071 "Uncaught TypeError: grid.render is not a function"
**The bug**
render function is not present

**To Reproduce**
Steps to reproduce the behavior:
1. include this source:' <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
2. create a simple script ...
[code]
3.  at the end invoke the render function
`
grid.render(document.getElementById('your-div-id-here'));
`
4. you should get: Uncaught TypeError: grid.render is not a function

**

[2022-07-27 16:01] gpiedimonte commented on #1070
I think this is not an issue, move it to the discussion tab it's more appropriate

[2022-07-27 16:19] ewwink commented on #1071
it missing `new` keyword, it should be `var grid = new gridjs.Grid({})`

[2022-07-28 02:53] bsoliveira commented on #1070
try to pass to the formatter an array of buttons:

formatter: (cell) => [
      h('button1''),
      .h('button2'),
  ],

[2022-07-28 05:37] GoekhanDev commented on #1070
Thanks you very much, worked.
Closed.

[2022-07-28 05:37] #1070 closed

[2022-07-28 06:52] gpiedimonte commented on #1071
sorry..

[2022-07-28 06:52] #1071 closed

[2022-07-28 12:22] ewwink commented on #970
you can do

[code]

[2022-07-29 16:07] ewwink commented on #974
I need this too, but temporary solution use `grid.on(ready)` function

[code]

[2022-07-30 17:08] #867 closed

[2022-07-30 17:08] #969 closed

[2022-07-31 15:05] dustinwelch commented on #560
I found that adding a style to the button also works:
`formatter: (cell, row) => {
          return gridjs.h('button', {
            style:{
              'background-color': 'rgba(13, 110, 253, 0.7)',
              color: '#FFF',
              border:'1px solid #000',
              'border-radius': '3px'
              },
            onClick: () => function()
          }, 'Edit');
        }`

[2022-08-05 10:58] pgcr71 opened #1078 "OnPaginationClick"
Get pagination  info on page number click

[2022-08-06 12:26] mhmcdonald opened #1081 "Server Side Search Deletes Search Text"
**Describe the bug**
I've noticed that when I use server side search and type in search text at a reasonable pace, some of the most recent text will get deleted. This behavior can be seen in [this gif](https://giphy.com/gifs/Z24Jt2XAMqz3j8P3WB). This results in mistakes while entering your search phrase because the text you're typing in gets changed so easily/unexpectedly.

I've noticed this bug o

[2022-08-12 13:02] #939 closed

[2022-08-12 23:26] kaptajnen commented on #939
Bump

[2022-08-14 12:20] PumpkinPeasant commented on #867
Adding width helps with the empty space but it does not fix the problem with resize to other direction. When you make window smaller than initial size, table stays off the boundaries

[2022-08-15 00:48] iilyak commented on #970
I have a similar question. however in my cases I am having a problem with pagination.
Let's say user currently viewing page 3. Then I do a `data.push` followed by `forceRender`. Immediately the current page becomes 1.

I try to use gridjs to display log events. Therefore I add entries every time I got new event from backend.

[2022-08-15 23:01] Aloysb commented on #1081
@mhmcdonald Same issue here.

There's is a 'racing' condition when typing.

Typing triggers a server call.
Depending on how fast/slow it responds, you will experience the issue.

This does not occur when typing fast since the debouncing takes care of it.
If typing 'slow', then the server has the time to respond.

Not that if you have a slow connection, it would make the matter even worse - as in y

[2022-08-16 12:46] Aloysb commented on #1081
Made a bit of progress here - not as much as expected.
The library is heavily relying on inheritance and events, it took me a while to find my way around 😄

So, it turns out it is an issue related to the way we debounce the user input - there might be no racing conditions with the server as I initially thought.

I'll try to keep you updated soon once I've done more digging 🔧 👍

[2022-08-16 18:37] mhmcdonald commented on #1081
Thanks for the update @Aloysb - I really appreciate you digging into this

[2022-08-17 12:00] Aloysb commented on #1081
There you go! 🍻

It seems that sometimes the answer is just *KISS* Keep it simple, stupid.

There is no need to have the search input controlled (at least, at this stage) - and it would create a racing condition.

Rather than having the current input and the current search stored separately, I've simply turned the input into a plain ol' uncontrolled component and ... tada! 🎉  no more racing condit

[2022-08-17 12:07] Aloysb commented on #1056
@JuliaBonita I'll take a look at this.

Any hints about recreating the issue?
You are using local data and the table freezes when using pagination?

[2022-08-17 12:10] Aloysb commented on #959
@azmeuk I can take a look at this.

Can you share a code demo to speed up the process? 👍

Cheers.

Cheers

[2022-08-17 13:29] mhmcdonald commented on #1081
Amazing, thank you @Aloysb! You rock! I will be watching the PR.

[2022-08-18 11:29] JuliaBonita commented on #1056
Hi, thank you for your reply. Yes, it was local data. It has been a while since I used the component. I had to switch to another solution over a month ago because I could not wait any longer. I'm not sure how to recreate the issue beyond the description I gave previously.

[2022-08-18 15:32] mhanuel26 opened #1096 "how to access different td from a click event on same row"
Hi all,

I have a table that I have setup for click event, it has an id column and a status column among others.
I am responding to a click event on the id td element,  and I want to get the value of the status column for that row (td element text), for example to do some decision that depens on its value using javascript code.

For instance, I know how to get the text of id as below

[code]

Is t

[2022-08-20 11:38] afshinm opened #1100 "Adding Aloysb as contributor"

[2022-08-20 11:39] afshinm commented on #1100
@all-contributors please add @Aloysb for code,doc

[2022-08-20 11:39] afshinm commented on #1100
https://github.com/all-contributors please add @Aloysb for code, doc

[2022-08-20 11:40] afshinm commented on #1100
@all-contributors please add @Aloysb for code, doc

[2022-08-20 11:40] afshinm commented on #1100
@all-contributors please add @Aloysb for code

[2022-08-20 11:41] afshinm commented on #1100
@all-contributors please add @Aloysb for code, doc

[2022-08-20 11:42] #1100 closed

[2022-08-22 22:20] Aloysb commented on #1096
Hi @mhanuel26,

If I understand this correctly, you're trying to get the `textContent` of the cell clicked?

Could you share a code sandbox of the issue? That would help us tackle the issue faster.

[2022-08-23 15:14] mhanuel26 commented on #1096
Hi @Aloysb ,

It is about getting the textContent of another td on that row, that is, the td clicked is not of interested but another td on that row.

Does this make sense?

[2022-08-23 15:52] gavinspr opened #1119 "Add ability to configure pagination result counts"
My team and I use gridjs for tables in our project and would like to be able to configure the pagination counts. With our tables we append a row of filters for users to sort the table with. If a set of filters are put in that return 0 results, the results section with still display 1 of 1. It would be helpful if would could easily change these results to display the value minus 1.
![gridresults](h

[2022-08-25 04:30] sathishk opened #1125 "Dynamic Page Size Plugin Remove Itself on ForceRender"
**Describe the bug**
We tried to add plugin that helps us to change the page limit based on user selection. Below is the Sample Code.

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Open index.html in the browser.
2. Select Show Entries Select as 4

**Expected behavior**
Page Display 4 records.

**Actual behavior**
Page Display 4 records But the plugin dis appears.

**Screens

[2022-08-25 11:57] Aloysb commented on #1081
Hey @mhmcdonald ,

Just to let you know that we'll aim to get this reviewed soon, maybe next week 👍

[2022-08-25 11:58] Aloysb commented on #1096
Unfortunately no, I'm unsure I understand your issue.
Can you clarify?
It seems that this is not a gridjs related issue, but a DOM manipulation one?

[2022-08-25 12:03] Aloysb commented on #1119
Hey @gavinspr if the filters is appended as a row, then the table is behaving as expected - since one row is displayed.

Adding a row to act as a filter is not really the intended use of the table.

Could you manipulate the text content of the pagination element to return the right number?

[2022-08-27 15:14] alaksandarjesus opened #1127 "Event Handling for Angular in ServerSide Rendering"
I am trying to integrate gridjs with gridjs-angular and for server side rendering, i want to use service instead of server config object as in documentation. Why? So i could use the interceptor.

Is there a way i could capture the sort and search click.

[2022-08-29 11:33] S1SYPHOS opened #1128 "Example data for 'rowspan'"
Hey there,
I am aware of #255 and tried to implement `rowspan` in a shift planning tool - every day (eg 'Monday') spans three rows, resembling different shifts, each being assigned to someone. Now, when adding my data, using a data attribute `rowspan` works, but the data is being partly displayed outside the table. Could you add an example showing the use of `colspan`/`rowspan`? As this doesn't se

[2022-08-29 22:30] Aloysb commented on #1128
Hey @S1SYPHOS

Thank you for reporting the issue.

I will have a dig in this as soon as possible.

Feel free to poke around the source code and let me know if you find any clue about theorigin of the bug :)

[2022-08-30 12:39] naaando commented on #978
I need that too, very confused on how to update after some data change, I'll attempt to forceRender but I'm unsure that is what I need

[2022-08-31 12:27] mhmcdonald commented on #1081
thanks again for the update @Aloysb!

[2022-09-01 07:26] S1SYPHOS commented on #1128
Thanks, much appreciated!

[2022-09-02 01:06] lukas-santiago commented on #237
How can I handle this situation in React?

I have two components, one with _gridjs_ and another one with _gridjs-react_. These two components keeps throwing this error.

This is the code:
`
import React, { useEffect, useRef, useState } from "react";
import { Grid } from "gridjs";
import { Grid as GridComponent } from "gridjs-react";

import "gridjs/dist/theme/mermaid.css";

export function MyCompo

[2022-09-02 01:41] gk7279 opened #1139 "Color Specific Cell If The Text Matches"
Hi,

If I have a 4 column table created with gridjs.

If the value in the 4th column has the text "ABC" (case in-sensitive),

a. How do I change the color of just that cell to red?
b. And how do I change the color of that entire row to red?

Thanks

[2022-09-13 10:16] DVDAndroid commented on #904
+1

[2022-09-20 21:08] #997 closed

[2022-09-20 21:08] #984 closed

[2022-09-20 21:08] #988 closed

[2022-09-20 21:08] #952 closed

[2022-09-20 21:08] #954 closed

[2022-09-20 21:08] #992 closed

[2022-09-20 21:08] #995 closed

[2022-09-20 23:10] mhkeller commented on #952
I think this issue is still a good idea

[2022-09-21 08:36] azmeuk commented on #967
@stale bot, please leave this ticket alon :)

[2022-09-22 09:47] Robinyong commented on #1125
you can try this

setPageLimit(limit) {
        this.config.instance.updateConfig({
            pagination: {
                enabled: true,
                limit: limit,
                server: {
                    url: (prev, page, limit) => `${prev}${prev.includes('?') ? '&' : '?'}limit=${limit}&offset=${page * limit}`
                },
                summary: true,
            },
        })

[2022-09-22 11:13] apurvh opened #1163 "React resizable doesn't work for gridjs v5.1.0"
**Describe the bug**

Resizable option is breaking in React after update to gridjs v5.0 -> v5.1.0
<img width="312" alt="image" src="https://user-images.githubusercontent.com/31202449/191732003-a043d84e-658a-4f7c-9fe2-d3f65b4cca16.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codesandbox.io/s/gridjs-react-forked-5qci9m
2. Change gridjs version between v5.0 and v5.1
3. Br

[2022-09-22 13:24] dlonghi commented on #1163
The same happens with the hello world/Browser example in the docs.

`<script src="https://unpkg.com/gridjs@5.1.0/dist/gridjs.umd.js"></script>
<script src="https://unpkg.com/gridjs@5.0.2/dist/gridjs.umd.js"></script>`

[2022-09-27 03:25] sk335577 commented on #1127
Hi, You can use javascript fetch interceptor.
`const { fetch: originalFetch } = window;

window.fetch = async (...args) => {
    let [resource, config ] = args;
    // request interceptor here
    const response = await originalFetch(resource, config);
    // response interceptor here
    return response;
};`

[2022-09-27 18:41] tk19hw opened #1170 "Vite with gridjs"
Hi,

when I use the `import { Grid } from "gridjs";` and then run the `vite build` I do not see the gridjs code in my app.js generated file. Any idea about what can I do in order to use the plugin without using the CDNs?

Thanks.

[2022-09-28 01:39] gk7279 commented on #1139
Here is the answer.

`const grid = new Grid({
  columns: [{
     id: 'name',
     name: 'Name',
        attributes: (cell) => {
          if (cell==='Mark') {
            return {
              'data-cell-content': cell,
              'style': 'background-color: red',
            };
          }
        }
  }, {
     id: 'email',
     name: 'Email'
  }, {
     id: 'phoneNumber',
     name: 'Phone N

[2022-09-28 01:39] gk7279 commented on #1139
Here is the answer.

`const grid = new Grid({
  columns: [{
     id: 'name',
     name: 'Name',
        attributes: (cell) => {
          if (cell==='Mark') {
            return {
              'data-cell-content': cell,
              'style': 'background-color: red',
            };
          }
        }
  }, {
     id: 'email',
     name: 'Email'
  }, {
     id: 'phoneNumber',
     name: 'Phone N

[2022-09-28 01:39] #1139 closed

[2022-09-30 12:05] nitinmalik1997 commented on #1081
Could you please elaborate how to turn the input into a plain of uncontrolled component?

[2022-09-30 20:35] tk19hw commented on #1170
Is this so difficult to answer or is this a dead project?

[2022-10-01 00:51] #1047 closed, assigned to nobody

[2022-10-01 00:51] #1065 closed

[2022-10-01 10:52] #967 closed

[2022-10-02 02:22] abitbetterthanyesterday commented on #1081
Sure,
Just check out the open PR, it's literally removing one line of code.

Basically, you want to let the input control its own state rather than
managing it from the outside (by *not* setting `value={ ... }`).

The search is watching the onChange event, so there is no real need to
control the input value.

There is a race condition on the onChange, due to the fact that there is a
debounce on th

[2022-10-02 22:43] robinbayer opened #1173 "Receiving error on Typescript build after upgrading to v5.0.2"
Receiving the following build errors when running tsc against the newly-upgraded source for version 5.0.2:

[code]

Typescript is newest version 4.8.4.  OS is macOS Monterrey v12.6.

tsconfig.json is as follows:

`{
    "compilerOptions": {
      "target": "ESNext",
      "useDefineForClassFields": true,
      "module": "ESNext",
      "lib": ["ESNext", "DOM"],
      "moduleResolution": "Node",

[2022-10-04 20:47] Ewasuu opened #1178 "Error when clicking the back button from the browser"
**Describe the bug**
I'm fetching the data with fetch api and when i go to another place in the web and then go back to the place where i have my gridjs with the go back or forward browser buttons, my page is broken, all i see is my api response but not my gridjs or anything else

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the place i have my gridjs
2. Click on anothe link from the

[2022-10-05 13:52] geofany commented on #630
so how to grouping using this gridjs ?

[2022-10-05 14:43] PranitModak commented on #227
any update on this feature ??

[2022-10-11 07:25] abitbetterthanyesterday commented on #1056
No worries.

Well thanks for taking the time to report, I'll dig it out. There might be
other users affected.

On Thu, Aug 18, 2022, 9:29 PM JuliaBonita ***@***.***> wrote:

[2022-10-14 05:27] #974 closed

[2022-10-18 17:31] Parables commented on #1056
I had a working version, but somewhere along the line, pages containing the grid started causing this error and I have no idea why this is happening.

[2022-10-27 07:47] vladtanasiedns opened #1204 "Svelte options accessors"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
At the moment there is no option to use `bind:this={grid}` in svelte

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Adding the `<svelte:options accessors />` at the top of `gridjs.svelte` i

[2022-10-29 00:19] #959 closed

[2022-10-29 00:19] #1078 closed

[2022-10-29 00:19] #970 closed

[2022-10-29 16:11] berkmanadb commented on #36
I have tried example on documantation. But search works only first column. It doesnt work on producer or director column

[2022-10-30 21:06] sachhu opened #1205 "Values are not rendered when keys are in upper case"
**Describe the bug**
Values are not rendered when key are in upper case.
Example:
const grid = new Grid({
  data: [
    { "NAME": 'John', email: 'john@example.com', phoneNumber: '(353) 01 222 3333' },
    { "NAME": 'Mark', email: 'mark@gmail.com', phoneNumber: '(01) 22 888 4444' },
  ]
});

In this value of keys "NAME are not rendered.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to k

[2022-11-01 19:51] S1SYPHOS commented on #1128
Well, not being able to reproduce HTML table properties makes this library somewhat of a no-go ..

[2022-11-02 15:34] jorgegiro commented on #1163
If it is usefull, when I've configured the width and min-width of columns, resize works on the column where is configured.
Seems like it is expecting than this two properties must be defined.  Because if only it is declared one of them, does not work.

For example:
[code]

[2022-11-04 03:35] ari62 opened #1210 "Resizable not working"
**Describe the bug**
I cant see to get the resizable option to work. When I try to drag the column lines, they get highlighted but dont move. Please let me know if I have an error.
**To Reproduce**
Please see:
https://jsfiddle.net/35y20amp/

**Expected behavior**
I should be able to drag the columns left or right to resize.

**Desktop (please complete the following information):**
 - OS: macOs Mon